@import url(images.css);
#Main {
    z-index: 1;
}
/* 清楚浮动 */
body {
    background-color: black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 背景特效 */
.progressBar {
    position: fixed;
    left: 55px;
    height: 100vh;
    width: 40px;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    display: none;
}

.animate__fadeIn {
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s;
}

.active {
    display: block;
}

.progressBar-contain {
    position: relative;

}

/* 整页 */
.content {
    width: 90%;
    height: 100vh;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentMain {
    width: 90%;
    height: 70%;
    display: none;
}

.contentMain_1 {
    width: 90%;
    height: 70%;
    display: none;
}

.contentMain_2 {
    width: 90%;
    height: 70%;
    display: none;
}

.contentMain_3 {
    width: 90%;
    height: 70%;
    position: relative;
    display: none;
}

.contentMain_4 {
    width: 90%;
    height: 70%;
    display: none;
}

.contentMain_5 {
    width: 90%;
    height: 70%;
    display: none;
}
.contentMain_5 .text_2 {
    margin-bottom: 0;
}
.contentMain_3 .surf .surf_4 {
    margin-top: 5%;
    min-width: 110px;
    width: 10%;
    height: 63%;
}
.contentMain_4 .text_2 {
    margin-bottom: 0;
}
.content:nth-child(9) {
    height: 70vh;
    display: block;
    position: relative;
}
/* 文字 */
.index_text {
    float: left;
    width: 60%;
    height: 80%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2.8rem;
    color: white;
    letter-spacing: 0.1em;
    text-align: justify;
}

.text_1 {
    width: 100%;
    height: 50%;
    margin-bottom: 5%;
    font-size: 2.8rem;
    color: white;
    letter-spacing: 0.1em;
    text-align: justify;
}

.text_2 {
    width: 100%;
    height: 22%;
    font-size: 2rem;
    color: white;
    letter-spacing: 0.1em;
    text-align: justify;
}
/* 布局 */
.star {
    width: 80%;
    height: 70vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
       opacity: 0;
    transition: 2.5s;
}

.planet {
    width: 35%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}
.biaozhi {
    width: 100%;
    height: 38%;
    position: absolute;
    left: 12%;
    bottom: 29%;
    display: none;
    z-index: 10;
}

.biaozhi .bg {
    float: left;
    width: 30%;
    height: 100%;
    background-size: cover;
}
.surf {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 15%;
}

.surf div {
    display: none;
}

.main {
    width: 50%;
    height: 79%;
    float: left;
}

.ti {
    display: none;
}

.main div {
    background-size: 400px;
}


.banner {
    float: left;
    width: 50%;
    height: 35%;
    position: relative;
}

.banner_1,
.banner_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 2s;
    background-size: 50%;
}

.banner_2 {
    opacity: 0;
}

.banner:hover .banner_1 {
    opacity: 0;
}

.banner:hover .banner_2 {
    opacity: 1;
}

.footer .bg {
    /* width: 30%;
        height: 50%; */
    transition: 2s;
    position: absolute;
}


.star_2 .bg {
    background-size: cover;
}