{% extends "layout.html" %}

{% block title %}Contribution{% endblock %}
{% block lead %}Make a useful contribution for future iGEM teams. Use this page to document that contribution.{%
endblock %}

{% block page_content %}

<!-- Page Content -->
<div class="inner-banner inner-bg3 header-mask" style="background: url(https://static.igem.wiki/teams/5210/photo/contribution.jpg) no-repeat center 65% fixed;
			width: 100%;background-size: cover;height: 94vh;">
	<div class="container">
		<div class="inner-title">
			<h3>Contribution</h3>
		</div>
		<!----scroll icon------->
		<div class="wrapper">
			<div class="scroll-hint">
				<p style="text-indent: unset;">Scroll To Explore</p>
				<div class="icon-scroll">
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Page Content  请大家编辑以下部分 -->
<div class="container relative" style="max-width: 1300px">

	<!-- Overview -->
	<div class="boxcontainer reveal-on-scroll" style="margin-top: 2.5em;width: 100%;">
		<h1>Overview</h1>
		<p>In carrying out our work, we have not only focused on the project itself, we have been thinking about how we
			can inspire future iGEM teams through the project and how we can devise viable solutions to the world's
			common problems. Through our tireless efforts, we have made some outstanding contributions to the line
			components and modeling work, which can provide references and ideas for the work of future iGEMers. Our
			products also have the potential to be developed into bioluminescent sustainable products that can provide
			templates for solving other problems.</p>
	</div>

	<div>
		<!-- 目录 -->
		<nav id="sidenav-wrapper" class="col-3 d-flex" style="height: 95%;">
			<ul class="mcd-menu" style="height: 420px;">
				<li style="border-top-left-radius: 7px;
						border-top-right-radius: 7px; 
						box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
					<a href="#m1" class="sidenav-link nav-link">
						<strong>Part collection</strong>
						
					</a>
				</li>
				<li style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
					<a href="#m2" class="sidenav-link nav-link">
						<strong>Part contribution</strong>
						
					</a>
					<ul style="z-index: 100000 !important;list-style: none;">
						<li><a href="#m2-1">What our parts can do ?</a></li>
						<li><a href="#m2-2">Part contribution</a></li>
					</ul>
				</li>
				<li style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
					<a href="#m3" class="sidenav-link nav-link">
						<strong>Model</strong>
						
					</a>
					<ul style="z-index: 100000 !important;list-style: none;">
						<li><a href="#m3-1">Risk prediction model</a></li>
						<li><a href="#m3-2">Integrated assessment model</a></li>
						<li><a href="#m3-3">Toxicity assessment model</a></li>
					</ul>
				</li>
				<li style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
					<a href="#m4" class="sidenav-link nav-link">
						<strong>Product</strong>
						
					</a>
				</li>
				<li style="border-bottom-left-radius: 7px;
						border-bottom-right-radius: 7px;
						box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
					<a href="#references1" class="sidenav-link nav-link" style="border-bottom: unset;">
						<i class="fa fa-book"></i>
						<strong>References</strong>
						
					</a>
				</li>
				<li style="background-color: unset;">
					<div class="tangdouren" style="text-align: center;margin-top: 10px;">
						<a href="#" style="border-bottom: unset;"><img
								src="https://static.igem.wiki/teams/5210/logo-astronaut-2.png" alt="糖豆人"
								style="width: 242px;-webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));"></a>
					</div>
					<div class="brother2"><img src="https://static.igem.wiki/teams/5210/logo/logo-5.png" alt=""
							width="35%"
							style="position:absolute;top:0px;left:40%;-webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));">
					</div>
				</li>
			</ul>


		</nav>


		<div id="page-content-wrapper item-bm" class="col-lg-9 ms-auto">
			<style>
				.item-bm a {
					color: #027efb;
				}
			</style>
			<!-- 1. 第一部分 -->
			<div id="m1">
				<div class="row my-5">
					<div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
						<h1>Part collection</h1>
						<h2>New part we have designed:</h2>
						<p>We built several BioBricks that cover various aspects of our entire program and make up our
							Light Emitting Module and Safety Module.</p>

						<p style="text-indent: 0;text-align: center;">
							<b>Our basic parts</b>
						</p>
						<table class="model">
							<tbody>
								<tr style="background: rgb(33, 115, 192)">
									<th width="40%">Name</th>
									<th width="30%">Type</th>
									<th width="30%">Description</th>
								</tr>
								<tr style="background: rgb(255, 255, 255)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210000" style="color: #027efb;">BBa_K5210000</a></td>
									<td>Promoter</td>
									<td>PumuDC</td>
								</tr>
								<tr style="background: rgb(219,227,244)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210001" style="color: #027efb;">BBa_K5210001</a></td>
									<td>Coding</td>
									<td>LuxA</td>
								</tr>
								<tr style="background: rgb(255, 255, 255)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210002" style="color: #027efb;">BBa_K5210002</a></td>
									<td>Coding</td>
									<td>LuxB</td>
								</tr>
								<tr style="background: rgb(219,227,244)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210003" style="color: #027efb;">BBa_K5210003</a></td>
									<td>Coding</td>
									<td>LuxC</td>
								</tr>
								<tr style="background: rgb(255, 255, 255)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210004" style="color: #027efb;">BBa_K5210004</a></td>
									<td>Coding</td>
									<td>LuxD</td>
								</tr>

								<tr style="background: rgb(219,227,244)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210005" style="color: #027efb;">BBa_K5210005</a></td>
									<td>Coding</td>
									<td>LuxE</td>
								</tr>
								<tr style="background: rgb(255, 255, 255)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210006" style="color: #027efb;">BBa_K5210006</a></td>
									<td>Coding</td>
									<td>LuxF</td>
								</tr>
								<tr style="background: rgb(219,227,244)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210007" style="color: #027efb;">BBa_K5210007</a></td>
									<td>Coding</td>
									<td>LuxG</td>
								</tr>
								<tr style="background: rgb(255, 255, 255)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210008" style="color: #027efb;">BBa_K5210008</a></td>
									<td>Coding</td>
									<td>SOD</td>
								</tr>
								<tr style="background: rgb(219,227,244)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210009" style="color: #027efb;">BBa_K5210009</a></td>
									<td>Coding</td>
									<td>Catalase</td>
								</tr>

								<tr style="background: rgb(255, 255, 255)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210010" style="color: #027efb;">BBa_K5210010</a></td>
									<td>Coding</td>
									<td>GVP</td>
								</tr>
								<tr style="background: rgb(219,227,244)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210011" style="color: #027efb;">BBa_K5210011</a></td>
									<td>Coding</td>
									<td>RecO</td>
								</tr>
								<tr style="background: rgb(255, 255, 255)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210012" style="color: #027efb;">BBa_K5210012</a></td>
									<td>Coding</td>
									<td>RecF</td>
								</tr>
								<tr style="background: rgb(219,227,244)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210013" style="color: #027efb;">BBa_K5210013</a></td>
									<td>Coding</td>
									<td>ScrR</td>
								</tr>
								<tr style="background: rgb(255, 255, 255)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210014" style="color: #027efb;">BBa_K5210014</a></td>
									<td>Promoter</td>
									<td>Pompc</td>
								</tr>
								<tr style="background: rgb(219,227,244)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210015" style="color: #027efb;">BBa_K5210015</a></td>
									<td>Promoter</td>
									<td>PMrka</td>
								</tr>
							</tbody>
						</table>
                        <br>
						<p style="text-indent: 0;text-align: center;">
						<b>Our composite parts</b>
						</p>
						<table class="model">
							<tbody>
								<tr style="background: rgb(33, 115, 192)">
									<th width="40%">Name</th>
									<th width="30%">Type</th>
									<th width="30%">Description</th>
								</tr>
								<tr style="background: rgb(255, 255, 255)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210016" style="color: #027efb;">BBa_K5210016</a></td>
									<td>Composite</td>
									<td>PMrka-Cl-Plam-LuxAB</td>
								</tr>
								<tr style="background: rgb(219,227,244)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210017" style="color: #027efb;">BBa_K5210017</a></td>
									<td>Composite</td>
									<td>Pompc-LuxCDEFG</td>
								</tr>
								<tr style="background: rgb(255, 255, 255)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210018" style="color: #027efb;">BBa_K5210018</a></td>
									<td>Composite</td>
									<td>PsacB-SOD-catalase</td>
								</tr>
								<tr style="background: rgb(219,227,244)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210019" style="color: #027efb;">BBa_K5210019</a></td>
									<td>Composite</td>
									<td>ProU-ScrR-Pscr-lacl-Plac-MazF</td>
								</tr>
								<tr style="background: rgb(255, 255, 255)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210020" style="color: #027efb;">BBa_K5210020</a></td>
									<td>Composite</td>
									<td>pBAD-MazF</td>
								</tr>
								<tr style="background: rgb(219,227,244)">
									<td><a href="https://parts.igem.org/Part:BBa_K5210021" style="color: #027efb;">BBa_K5210021</a></td>
									<td>Composite</td>
									<td>pRM-Cl857-pR-MazF</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<!-- 2. 第二部分 -->
			<div id="m2">
				<div class="row my-5">
					<div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
						<h1>Part contribution</h1>
						<h2 id="m2-1">1.What our parts can do ?</h2>
						<h3>(1)Sensing components:</h3>
						<p>In order to match the application scenarios and needs of our products, we mainly use the
							following sensing components:</p>
						<p>①Osmotic pressure sensing component: we sense changes in external osmotic pressure through
							the EnvZ/OmpR two-component system, and EnvZ sensing high osmotic pressure is able to
							phosphorylate OmpR and activate the promoter PompC to start transcription<sup>[1]</sup>.PompC
							components can be seen in <a href="https://parts.igem.org/Part:BBa_K5210014" style="color: #027efb;">BBa_K5210014</a>.</p>
						<p>②Circadian components: for the purpose of circadian rhythm, we mainly consider the
							photoreceptor components. We first used PumuDC, the promoter that can be activated by UV-C
							from sunlight. However, we found that in the natural environment, UV-C is almost completely
							absorbed by the atmosphere<sup>[2]</sup>. We then decided to replace it with the optogenetic tool
							PMrka, which senses far-red light, a sensor whose usefulness has been well documented.</p>
						<p>③Sucrose sensing component: PSacB itself has the ability to transcribe without inducers
							and the intensity is enhanced 100-fold after sucrose induction. The presence of sucrose in
							the sucrose manipulator containing ScrR and Pscr inhibits the deterrent effect of ScrR on
							Pscr and functions as a sucrose sensor, which we verified by molecular docking.The PSacB
							component can be seen in <a href="https://parts.igem.org/Part:BBa_K4043004" style="color: #027efb;">BBa_K4043004</a>.</p>

						<h3>(2)Light emitting module:</h3>
						<p>The light emitting module was built on the basis of sensing components that sense osmotic
							pressure and circadian rhythms. LuxCDEAB fulfilled the basic requirements for luminescence,
							while the addition of LuxFG enhanced the luminescence effect.</p>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100">
							<img src="https://static.igem.wiki/teams/5210/image/part-contribution-light-emitting.png" style="width:80%;">
						</div>

						<h3>(3)Safety module:</h3>
						<p>The safety module was mainly built based on the sensing components that feel sucrose. </p>
						<p>①Passive anti-leakage: In the algal-bacterial coexistence system, the sodium-demanding
							Vibrio vulnificus is able to feel the sucrose secreted by Polysaccharomyces cerevisiae to
							express SOD and catalase in order to achieve the effect of cold resistance. After the
							leakage, the coexistence system was destroyed, the sucrose concentration around the bacteria
							decreased, the transcription of PSacB was greatly inhibited, and the accumulation of ROS led
							to the death of the bacteria to achieve the purpose of leakage prevention.</p>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100">
							<img src="https://static.igem.wiki/teams/5210/image/part-contribution-passive-anti-leakage.png" style="width:80%;">
						</div>
						<p>②Active anti-leakage: after the addition of the sucrose manipulator, the absence of sucrose
							after bacterial leakage causes ScrR to deter Pscr from transcribing lacI, and the decrease
							in Plac deterrence after the decrease in lacI expression, and the expression of the toxic
							protein MazF kills the bacteria.</p>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100">
							<img src="https://static.igem.wiki/teams/5210/image/part-contribution-active-anti-leakage.png" style="width:80%;">
						</div>
						<p>③Treatment after product recovery: We initially designed a temperature-controlled suicide
							system and a drug-controlled suicide system to regulate the expression of the toxin protein
							MazF by controlling the temperature or by adding arabinose, which is an ideal inducer in
							seawater environments.</p>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100">
							<img src="https://static.igem.wiki/teams/5210/image/part-contribution-treatment-after.png"
								style="width:80%;">
						</div>

						
						<br>
						<h2 id="m2-2">2.Part contribution</h2>
						<p>For the contributions, we completed the experimental characterization of the parts
							<a href="https://parts.igem.org/Part:BBa_K5210011" style="color: #027efb;">BBa_K5210011</a>, <a href="https://parts.igem.org/Part:BBa_K5210012" style="color: #027efb;">BBa_K5210012</a>, <a href="https://parts.igem.org/Part:BBa_K5210014" style="color: #027efb;">BBa_K5210014</a>,
							<a href="https://parts.igem.org/Part:BBa_K5210000" style="color: #027efb;">BBa_K5210000</a>, and <a href="https://parts.igem.org/Part:BBa_K5210018" style="color: #027efb;">BBa_K5210018</a>, simulated the
							functionality of <a href="https://parts.igem.org/Part:BBa_K5210013" style="color: #027efb;">BBa_K5210013</a>, and added the data and documentation to the
							corresponding
							BioBricks. All of this may be useful to other teams.
						</p>
						<p>Through organic integration with sensing components, our luminescence module and safety
							module performed well. We further refined the details of bioluminescence using engineered
							bacteria, and the data recorded will be of great value to other teams. We explored how
							engineered bacteria used in marine environments can survive and function properly while
							preventing it from polluting the marine environment, which is an important reference for the
							application of synthetic biology in the ocean. In addition, the application of synthetic
							biology in space is still in its infancy, and the safety module we designed can increase the
							survivability of engineered bacteria in space, which is of great significance to Space
							village.</p>
						<p>In addition, we added information to the existing widget <a href="https://parts.igem.org/Part:BBa_K4594004" style="color: #027efb;">BBa_K4594004</a> created
							by
							Shanghaitech-China, clearly documenting our experimental design and data on the widget
							homepage in the registry.</p>
					</div>
				</div>
			</div>


			<!-- 3. 第三部分 -->
			<div id="m3">
				<div class="row my-5">
					<div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
						<h1>Model</h1>
						<p>This year, in order to promote the application of LuminAid in reality, the NMU-China team not
							only analyzed the current application prospects of life-saving materials from a macro
							perspective, but also simulated the molecular and even genetic level regulation from a
							microscopic point of view, and optimized the design of genetic circuits. Meanwhile, the
							luminescence potential of the whole set of protein engineering was verified through
							experiments.</p>

						<h2 id="m3-1">1.Risk prediction model</h2>
						<p>In order to analyze the high-risk time periods and high-risk locations of maritime and air
							accidents, and to provide greater protection for air transport and public safety, the model
							utilizes authoritative data sources such as the International Maritime Organization (IMO)
							and combines techniques such as big data analysis, density analysis, and time-series
							analysis, to provide a comprehensive analysis of the global safety situation of shipping and
							air transport in recent years, especially after the New Crown Epidemic. </p>
						<p>Firstly, through the analysis of the time series characteristics of accidents by ARIMA model,
							the model is able to predict the frequency and trend of accidents in the coming period of
							time, which provides a scientific basis for formulating response strategies in advance. </p>
						<p>Secondly, the choice of using the random forest regression algorithm to predict geographic
							coordinates further refines the granularity of risk assessment. In addition to the time and
							geographic dimensions, the model also refers to relevant literature and considers a variety
							of risk factors such as nighttime visibility, operational errors, and decision-making
							errors.</p>
						<p>In our interviews with shipping and air transportation industry personnel, we learned that
							there is a lack of current risk prediction models that balance simplicity and high
							reliability. Our attempt demonstrates the broad prospect of big data, machine learning and
							other technologies in the field of safety, which can help relevant departments and
							enterprises to identify risks and formulate preventive measures in advance, so as to improve
							the overall safety management level.
							Meanwhile, the data we have collected involves many countries and regions, and by
							integrating the characteristics of different regions, we have promoted international
							cooperation and exchanges in the field of shipping and air transportation safety. This will
							help to form a more complete global safety regulatory system and jointly address
							cross-border challenges and problems.</p>


						<h2 id="m3-2">2.Integrated assessment model</h2>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
							src="https://static.igem.wiki/teams/5210/photo/026.png" alt="Gut-sweeper"
							style="width:60%;cursor:pointer;">
					</div>
						<p>The universe is vast and mankind has never stopped exploring it. With the upgrading of
							science and technology, the space industry has ushered in a vigorous development, and
							interplanetary exploration has gradually become a reality. Therefore, we hope that the
							Bio-Beacon Rescue Locator is no longer limited to life-saving activities on earth, but can
							go to the space and have a broader application space. </p>
						<p>We consulted with professionals in the aerospace field and determined to establish a
							multi-dimensional evaluation index system that includes light conditions, atmospheric
							composition, temperature, gravity and supply conditions, etc., and quantitatively analyzed
							it using the Rank and Ratio Comprehensive Evaluation (RSR) method, which provides a
							standardized method for evaluating the adaptability of space equipment on different planets.
							This method is not only applicable to BRL, but can also be extended to the environmental
							adaptability assessment of other space equipment or technologies, providing a certain basis
							for the preparation and planning of future space exploration missions. By combining
							knowledge from multiple disciplines, including biology, astronomy, geology, meteorology,
							physics, and engineering, we demonstrate the important role of interdisciplinary research in
							solving complex spaceflight problems. </p>
						<p>The evaluation results of our model reveal the limitations of current technologies (e.g., the
							luxAB system) in harsh environments such as high gravity, low light, and extreme
							temperatures. In the future, researchers can develop more efficient and stable
							bioluminescent systems or other types of rescue localization technologies for these extreme
							environments to meet the needs of space exploration and other extreme environments.</p>

						<h2 id="m3-3">3.Toxicity assessment model</h2>
						<p>As synthetic biology continues to delve deeper, the design of genetic circuits is progressively evolving towards multi-modularity and multi-functionality. Beyond traditional physicochemical factors causing cellular damage, numerous studies have revealed that biological factors can mediate various signaling pathways, ultimately leading to cytotoxicity. Complex circuit designs encompass more genes and proteins, introducing greater uncertainty regarding the survival state of the host cell.</p>
					    <p>A review of prior research indicates that while some scholars have noted the potential toxicity of genetic circuit systems on host cells and proposed optimization strategies for specific engineered bacteria, there is a lack of systematic studies estimating toxicity. Current optimization strategies are relatively limited. To design safer and more efficient genetic circuits, further exploration in related fields is necessary.</p>
					    <p>Capitalizing on this opportunity, we have developed a genetic circuit and, by comprehensively considering the two key indicators of cell growth rate and survival rate, combined with expert consultation, employed the Analytic Hierarchy Process (AHP) to determine the weights of each indicator. This has assisted us in comprehensively quantifying the toxicity level of the host bacteria.</p>
					    <p>Furthermore, the application of this model aids iGEM teams in designing and optimizing genetic circuits with a greater focus on the health status of the host cell, balancing both quality and quantity. By comparing differences between experimental and control groups of host bacteria, potentially toxic genetic elements can be promptly identified and adjusted, thereby enhancing the genetic stability and predictability of the system.</p>
					    <p>Understanding how different modules, genes, and proteins interact and influence the survival state of host cells in genetic circuit design remains a pressing challenge. We hope that our simplified toxicity assessment model provides a universal analytical approach, enhancing awareness of safety aspects in circuit design.</p>
					</div>
				</div>
			</div>


			<!-- 4. 第四部分 -->
			<div id="m4">
				<div class="row my-5">
					<div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
						<h1>Product</h1>
						<p>We have designed a range of products such as bioluminescent lifejackets, parachutes, and
							spacesuits utilizing a hybrid system of algae and bacteria. Unlike the original
							chemical-based luminescence, our algal autotrophic system is self-supporting, which means
							that our products have sustainable luminescent properties. In addition, under different
							application scenarios, we have chosen different materials - electrostatic spinning,
							bacterial filter membrane and other carriers to load the algal system.</p>
						<p>In addition, the closed-loop life system constructed by our algal-bacterial system has a wide
							range of applications, and future iGEM teams can refer to this design to modify chassis
							microorganisms to work continuously without an external energy supply - hopefully, this
							unique idea will inspire future teams to conceptualize in the field of synthetic biology!
							</p>
						<p style="text-indent: 0;">To view more detailed information about the product design, please go
							to the <a href="https://2024.igem.wiki/nmu-china/product" style="color: #027efb;">product</a> page.</p>
					</div>
				</div>
			</div>


			<!------------------------以下这里是references-------------------------->
			<div id="references1" style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
				<div class="row my-5" style="cursor: pointer">
					<button class="btn d-flex justify-content-between accordion-general w-100" type="button"
						data-bs-toggle="collapse" data-bs-target="#references-d2" aria-expanded="false"
						aria-controls="references-d2" onclick="myFunction(this)">
						<h1 class="accordion-general-label">References</h1>
						<div>
							<div class="container">
								<div class="bar1"></div>
								<div class="bar2"></div>
								<div class="bar3"></div>
							</div>
						</div>
					</button>
					<div class="collapse px-0" id="references-d2" style="margin-top: -10px;">
						<div class="card card-body accordion-general-content px-5">
							<ol>
								<li>Kenney, L. J. & Anand, G. S., EnvZ/OmpR Two-Component Signaling: An Archetype
									System That Can Function Noncanonically. EcoSal Plus 9 (2020).</li>
								<li>Smith, B. T. & Walker, G. C., Mutagenesis and more: umuDC and the Escherichia
									coli SOS response. GENETICS 148 1599 (1998).</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}