{% extends "layout.html" %}
  
{% block title %}Education{% endblock %}
{% block lead %}Innovative educational tools and outreach activities have the ability to establish a two-way dialogue with new communities by discussing public values and the science behind synthetic biology.{% endblock %}

{% block page_content %}

    <!-- Page Content -->
    <div class="inner-banner inner-bg3 header-mask"
        style="background: url(https://static.igem.wiki/teams/5210/education/education.jpg) no-repeat center 0% fixed;width: 100%;background-size: cover;height: 96vh;">
        <div class="container">
            <div class="inner-title">
                <h3>Education</h3>
            </div>
            <!----scroll icon------->
            <div class="wrapper">
                <div class="scroll-hint">
                    <p style="text-indent: unset;">Scroll To Explore</p>
                    <div class="icon-scroll">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content  请大家编辑以下部分 -->
    <div class="container relative" style="max-width: 1300px">

      <div class="row">
        <div class="modal fade" id="Safety-education-pdf" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
  
              <div class="d-flex justify-content-around modal-header">
                <div class="col">
                  <h2 style="margin-top: 0;">Safety education</h2>
                </div>
                <div class="col d-flex justify-content-end">
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close popup"></button>
                </div>
              </div>
              <div class="modal-body">
                <div>
                  <div class="row">
                    <div class="col-lg-12 full-text">
                      <iframe src="https://static.igem.wiki/teams/5210/pdf/education-public-education-safety-education.pdf" frameborder="0" width="95%" height="700px" noresize="noresize" style="margin:20px auto 5px;"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="modal fade" id="gg1" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
  
              <div class="d-flex justify-content-around modal-header">
                <div class="col">
                  <h2 style="margin-top: 0;">Science popularization</h2>
                </div>
                <div class="col d-flex justify-content-end">
                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close popup"></button>
                </div>
              </div>
              <div class="modal-body">
                <div>
                  <div class="row">
                    <div class="col-lg-12 full-text">
                      <iframe src="https://static.igem.wiki/teams/5210/pdf/science-articles-eng-version.pdf" frameborder="0" width="95%" height="700px" noresize="noresize" style="margin:20px auto 5px;"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--------这个是overview的部分-------->
      <div class="boxcontainer reveal-on-scroll" style="margin-top: 2.5em;width: 100%;">
          <h1>Overview</h1>
          <p>There is an old Chinese proverb, "Teaching and learning go hand in hand", which implies that teaching and learning go hand in hand. We strongly believe in this saying and have been inspired and motivated by it. Education does not mean simply exporting outwards, but also importing inwards. With this in mind, we have decided to undertake a variety of initiatives aimed at participants from all different backgrounds, to teach others the fascination of synthetic biology while increasing their own knowledge of synthetic biology.</p>
      </div>

      <div>
        <!-- 目录 -->
        <nav id="sidenav-wrapper" class="col-3 d-flex" style="height: 98%;">
          <ul class="mcd-menu" style="height: 420px;">
            <li style="border-top-left-radius: 7px;
              border-top-right-radius: 7px; 
              box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
              <a href="#r1" class="sidenav-link nav-link">
                <strong>Pre-match Publicity</strong>
              
              </a>
                          <ul style="z-index: 100000 !important;list-style: none;">
                <li><a href="#r1-1">Communication with iGEM Judge Mr Zhu</a></li>
                <li><a href="#r1-2">Vice-Chairman Zhang Nan on Campus</a></li>
                <li><a href="#r1-3">Intramural Synthetic Biology Competition</a></li>
              </ul>
            </li>
            <li style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
              <a href="#r2" class="sidenav-link nav-link">
                <strong>Public Education</strong>
              
              </a>
              <ul style="z-index: 100000 !important;list-style: none;">
                <li><a href="#r2-1">Popular Science Video</a></li>
                <li><a href="#r2-2">Safety Education</a></li>
                <li><a href="#r2-3">"Microbe Pen" Activity</a></li>
              </ul>
            </li>
            <li style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
              <a href="#r3" class="sidenav-link nav-link">
                <strong>Inter-team Communication</strong>
             
              </a>
              <ul style="z-index: 100000 !important;list-style: none;">
                <li><a href="#r3-1">Participating Synbio Challenges</a></li>
                <li><a href="#r3-2">Visiting the Synthetic Biology</a></li>
              </ul>
            </li>
            <li style="border-bottom-left-radius: 7px;
              border-bottom-right-radius: 7px;
              box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
              <a href="#r4" class="sidenav-link nav-link"  style="border-bottom: unset;">
                <strong>Higher Education Outreach</strong>
               
              </a>
            </li>
            <li style="background-color: unset;">
              <div class="tangdouren" style="text-align: center;margin-top: 10px;">
                <a href="#" style="border-bottom: unset;"><img src="https://static.igem.wiki/teams/5210/logo-astronaut-2.png" alt="糖豆人" style="width: 242px;-webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));"></a>
              </div>
              <div class="brother2"><img src="https://static.igem.wiki/teams/5210/logo/logo-5.png" alt="" width="35%" style="position:absolute;top:0px;left:40%;-webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));"></div>
            </li>
          </ul>
        </nav>

        <!-- 内容 -->
        <div id="page-content-wrapper" class="col-lg-9 ms-auto">

          <!-- 板块1 -->
          <div id="r1">
            <div class="row my-5">
              <div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
                <h1>Pre-match publicity</h1>
                              <p>Even before the start of the 2024 iGEM cycle, our team has been preparing for the upcoming seasons we will bring. We hope to have a deeper understanding of iGEM through communication before the official start in order to make more valuable and impactful projects.</p>

                <h2 id="r1-1">1. Communication with iGEM Judge Mr Zhu</h2>
                <p>In December 2023, after the results of the 2023 iGEM Competition were announced, our team was honoured to communicate and exchange ideas with Mr Zhu, a senior judge of igem, and invited students who were interested in the iGEM Competition to attend. </p>
                <p>Mr Zhu, with his rich experience and unique insights, provided us with valuable advice and guidance. During the exchange, we actively shared our team's experiences and gains from the last iGEM competition, and frankly discussed the challenges and shortcomings we encountered. Mr Zhu listened patiently to our reports and gave targeted feedback and effective suggestions. </p>
                <p>At the same time, we also invited many new students who are interested and enthusiastic about the iGEM competition to join our discussion. The arrival of the new students injected new vigour and creativity into the team, and with their fresh ideas and perspectives, they discussed with us how to achieve breakthroughs and innovations in the next year's competition. Through this exchange, we not only strengthened the cohesion within the team, but also expanded our influence and attracted more aspirants to join this scientific feast. </p>
                              <p>Looking ahead, we will incorporate the effective suggestions we received from Mr Zhu into our team's preparation plan, continue to optimise our experimental design and enhance our teamwork ability, and strive to achieve even better results in the next year's iGEM competition. At the same time, we will continue to stimulate the scientific enthusiasm of new students, guide them to actively participate in scientific practice, and jointly contribute to the progress of synthetic biology!</p>
                              <div class="row mx-auto d-flex justify-content-center wi-lg-100">
                                <img src="https://static.igem.wiki/teams/5210/yuantu/019.png" alt="Gut-sweeper"
                                  style="width:80%;cursor:pointer;">
                              </div>
                              <br>
                              <div class="row mx-auto d-flex justify-content-center wi-lg-100">
                                <img src="https://static.igem.wiki/teams/5210/yuantu/020.png" alt="Gut-sweeper"
                                  style="width:80%;cursor:pointer;">
                              </div>
                                            <figcaption class="pt-3 ps-3">
                                                <center><strong>Figure. 1 |</strong>
                                                    <b>Communication with iGEM Judge Mr Zhu</b>
                                                    <center><br></center>
                                                </center>
                                            </figcaption>
                              <h2 id="r1-2">2. Vice-Chairman Zhang Nan on Campus</h2>
                              <p>In February 2024, we invited Ms Zhang Nan, a representative from the iGEM headquarters, to our university for a face-to-face exchange. </p>
                              <p>During the exchange, we introduced to Ambassador Zhang Nan the development of our iGEM team and the new progress in organising the university's synthetic biology competition.</p>
                              <div class="row mx-auto d-flex justify-content-center wi-lg-100">
                  <img src="https://static.igem.wiki/teams/5210/yuantu/034.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                </div>
                              <figcaption class="pt-3 ps-3">
                                  <center><strong>Figure. 2 |</strong>
                                      <b>Communication With Vice-Chairman Zhang Nan</b>
                                      <center><br></center>
                                  </center>
                              </figcaption>
                              <p>During the free exchange session, the new students showed strong interest and curiosity in the field of synthetic biology. They asked questions enthusiastically and had an in-depth and positive exchange with Ms Zhang Nan. Ms Zhang Nan answered one doubt after another for the new students with her vivid explanation and patient attitude. She not only explained the basic principles and cutting-edge technologies of synthetic biology, but also shared her own experience in scientific research, which inspired the new students to bravely pursue their scientific dreams and continuously explore the unknown fields. This exchange not only deepened the new students' understanding of synthetic biology, but also stimulated their interest and enthusiasm in this field.</p>
                              <p>Through these two exchanges, we gained a lot of new knowledge and understanding of synthetic biology, and attracted more students interested in synthetic biology across the university. This will be very helpful for us to carry out the new iGEM cycle and public education next.</p>

                              <h2 id="r1-3">3. Intramural Synthetic Biology Competition</h2>
                              <p>In 2024, we organised the first Synthetic Biology Competition of the Naval Medical University in collaboration with the Biophysics Department of the University. Through the development of this event, we hope to achieve the following goals:</p>
                              <p>Advancing the knowledge of synthetic biology: We hope that through the development of this synthetic biology competition, participants can learn the basic knowledge related to synthetic biology and expect that the knowledge of synthetic biology can benefit their future research in their respective fields. </p>
                              <p>Cultivating a sense of cooperation: Synthetic biology, as an emerging interdisciplinary discipline, has a wide range of applications. Participation in synthetic biology competitions requires team members to have a sense of cooperation.</p>
                              <p>We provided guidance and assistance throughout this competition, which not only facilitated the participants but also enhanced our understanding of synthetic biology. The competition attracted a wide range of student participation, and in the end, 14 teams submitted web pages and posters. </p>
                              <p>We plan to continue the on-campus synthetic biology competition in 2025 to further develop more students' understanding of synthetic biology and make the competition a signature event.</p>
                              <div class="row mx-auto d-flex justify-content-center wi-lg-100">
                  <img src="https://static.igem.wiki/teams/5210/yuantu/024.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                </div>
                              <figcaption class="pt-3 ps-3">
                                  <center><strong>Figure. 3 |</strong>
                                      <b>Main page of the on-campus synthetic biology competition wiki</b>
                                      <center><br></center>
                                  </center>
                              </figcaption>
                              <div class="row mx-auto d-flex justify-content-center wi-lg-100">
                  <img src="https://static.igem.wiki/teams/5210/yuantu/026.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                </div>
                              <figcaption class="pt-3 ps-3">
                                  <center><strong>Figure. 4 |</strong>
                                      <b>The main wiki pages of some teams（1）</b>
                                      <center><br></center>
                                  </center>
                              </figcaption>
                              <div class="row mx-auto d-flex justify-content-center wi-lg-100">
                  <img src="https://static.igem.wiki/teams/5210/yuantu/027.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                </div>
                              <figcaption class="pt-3 ps-3">
                                  <center><strong>Figure. 5 |</strong>
                                      <b>The main wiki pages of some teams（2）</b>
                                      <center><br></center>
                                  </center>
                              </figcaption>
                              <div class="row mx-auto d-flex justify-content-center wi-lg-100">
                  <img src="https://static.igem.wiki/teams/5210/yuantu/025.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                </div>
                              <figcaption class="pt-3 ps-3">
                                  <center><strong>Figure. 6 |</strong>
                                      <b>Participation posters of different teams</b>
                                      <center><br></center>
                                  </center>
                              </figcaption>
              </div>
            </div>
          </div>


          <!-- 板块2 -->
          <div id="r2">
            <div class="row my-5">
              <div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">

                <h1>Public Education</h1>
                              <p>In order to popularise synthetic biology to the public, we have carried out three main tasks .</p>

                <h2 id="r2-1">1.Popular Science Video</h2>
                <p>Firstly, we have carefully planned and produced a series of lively and interesting science videos, which have been uploaded to the Chinese video website Bilibili. These videos cover a wide range of content, from the introduction of basic biological components to complex gene circuit design, to cutting-edge metabolic engineering applications, as well as technical tools commonly used in the field of synthetic biology. We have used various forms of presentation, such as animations and diagrams, in an effort to make each knowledge point intuitively understandable and engaging.</p>
                              <p>As these videos were uploaded to social media platforms, they quickly attracted a large number of viewers. Whether they are science enthusiasts, educators, or the general public who are curious about the future of science and technology, they all find pleasure in popular science content. These videos not only provide them with a convenient way to learn about synthetic biology, but also inspire them to explore the mysteries of life and participate in scientific innovation. </p>
                              <p>More importantly, our popular science videos serve as a bridge between the general public and the field of synthetic biology, providing a key to unlock the door for those who are eager to learn more about this emerging discipline. Through this door, they can get a glimpse of the vast world of synthetic biology and feel the beautiful vision of the harmonious coexistence of science and nature. We believe that with the deepening of science popularisation, synthetic biology will gradually go out of the laboratory and into thousands of households, becoming an important force to promote social progress and improve human life.</p>
                              <div class="row mx-auto d-flex justify-content-center wi-lg-100">
                  <img src="https://static.igem.wiki/teams/5210/yuantu/023.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                </div>
                              <figcaption class="pt-3 ps-3">
                                  <center><strong>Figure. 7 |</strong>
                                      <b>Synthetic biology science videos we posted on Bilibili</b>
                                      <center><br></center>
                                  </center>
                              </figcaption>


                <h2 id="r2-2">2.Safety Education</h2>
                <p id="ee1">Our team has always been committed to the frontline of science communication and education promotion, and actively engaged in the cause of enhancing public safety awareness. Through diversified channels and forms, we share valuable knowledge on self-rescue from drowning, aiming to enhance people's knowledge and understanding in this field, so that they can react quickly and accurately when facing danger. We plan to add a paper version of the "Self-Rescue Guide at Sea" to all our products (life jackets and parachute packs) in case of emergency. In case of emergency, the correct way of handling and knowledge of self-rescue can greatly enhance the probability of survival of an individual.</p>
                <div class="img_box">
                  <div class="img_item2" style="height: 450px;">
                    <img src="https://static.igem.wiki/teams/5210/photo/education-public-education-2.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                  </div>
                  <div class="img_item2" style="height: 450px;">
                    <img src="https://static.igem.wiki/teams/5210/education/education.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                  </div>
                </div>
                <figcaption class="pt-3 ps-3">
                  <center><strong>Figure. 8 |</strong>
                      <b>Our Self-Rescue Guide at Sea booklet</b>
                      <center><br></center>
                  </center>
              </figcaption>

                <div style="clear: none;margin-top: 15px;">
                  <div class="col-lg-3 col-xs-12"
                    style="align-self:center !important;margin-bottom: 4px;margin-top: 4px;">
                    <button type="button" class="btnbtn" data-bs-toggle="modal"
                      data-bs-target="#Safety-education-pdf" style="margin: 0">
                      <span><b>Read more</b></span>
                    </button>
                  </div>
                </div>

                <p>We firmly believe that education is the cornerstone of social progress and the solution to real problems. We wrote an article entitled "Don't panic in the sea: self-rescue tips to help you "ride the waves" and published it on our public website, which has gained a lot of support and feedback. </p>
                              <div class="row mx-auto d-flex justify-content-center wi-lg-100">
                  <img src="https://static.igem.wiki/teams/5210/education/education-7.png" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                </div>
                              <figcaption class="pt-3 ps-3">
                                  <center><strong>Figure. 9 |</strong>
                                      <b>Science articles that we publish on the Wechat</b>
                                      <center><br></center>
                                  </center>
                              </figcaption>
                              <br>
                              <div style="clear: none;margin-top: 15px;">
                                  <div class="col-lg-3 col-xs-12"
                                      style="align-self:center !important;margin-bottom: 4px;margin-top: 4px;">
                                      <button type="button" class="btnbtn" data-bs-toggle="modal"
                                          data-bs-target="#gg1" style="margin: 0">
                                          <span><b>Read more</b></span>
                                      </button>
                                  </div>
                              </div>
                              <p>By spreading the knowledge of self-rescue, we can not only improve the self-protection ability of individuals, but also build a solid safety defence in the whole society. In the future, we will continue to uphold this belief, continue to explore and innovate, and contribute to building a safer and more harmonious social environment.</p>


                <h2 id="r2-3">3."Microbe Pen" Activity</h2>
                <p>Last but not least, we organised a 'Microbial Pens' event, where people of all ages were invited to come to the lab and create their own artwork using our fluorescent engineered bacteria. During the event, participants were able to work with their own hands, using microbial culture techniques to allow the strains to 'paint' special works of art on specific media. Through this process, we not only showed the public the infinite possibilities of microorganisms in art creation, but also deeply conveyed the idea that synthetic biology is closely related to daily life. The event received a wide range of responses, and participants said that the event gave them a new understanding of microorganisms, and felt the beauty of the intersection of science and art.</p>
                              <div class="row mx-auto d-flex justify-content-center wi-lg-100">
                  <img src="https://static.igem.wiki/teams/5210/yuantu/031.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                </div>
                              <figcaption class="pt-3 ps-3">
                                  <center><strong>Figure. 10 |</strong>
                                      <b>Participants' final artwork</b>
                                      <center><br></center>
                                  </center>
                              </figcaption>
                <p>This series of activities well promoted synthetic biology to the public, engaged the public in scientific communication, and triggered some people's curiosity about synthetic biology. At the same time, we also gained a lot of new inspirations and improved our synthetic biology literacy in the process of communication.</p>
              </div>
            </div>
          </div>


          <!-- 板块3 -->
          <div id="r3">
            <div class="row my-5">
              <div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
                <h1>Inter-team communication</h1>
                              <h2 id="r3-1">1. Participating Synbio Challenges</h2>
                              <p>Synbio Challenges（SC） is an authoritative competition guided and organised by the Synthetic Biology Branch of the Chinese Society of Bioengineering, which is committed to providing a platform for young students to communicate and learn face-to-face with top scholars and to show their own innovative power. Our team participated in this competition, communicated and interacted with synthetic biology teams from many different schools, and obtained many professional opinions and effective suggestions from experts.</p>
                              <p>By participating in the SC, students had the opportunity to apply their theoretical knowledge to practice and design and implement innovative synthetic biology projects. These projects often focus on solving real-world challenges, such as environmental protection, medical health, food safety, etc., which demonstrates the great potential of synthetic biology in improving human life and promoting sustainable development of society. The sense of achievement and pride that students gain from their projects will further inspire their passion and commitment to scientific research. </p>
                              <p>In addition, SC also promotes exchanges and cooperation between different schools and teams. Through mutual learning and reference, the students not only enhanced their friendship, but also jointly promoted the development and progress of synthetic biology education. This mode of cross-school and interdisciplinary exchange helps to break down academic barriers, promote the integration and innovation of knowledge, and cultivate more excellent talents with international vision and interdisciplinary background for the future development of synthetic biology. Specific recommendations are detailed in <a href="https://2024.igem.wiki/nmu-china/collaboration" style="color: #027efb;">collabration</a>.</p>
                              <div class="row mx-auto d-flex justify-content-center wi-lg-100">
                  <img src="https://static.igem.wiki/teams/5210/education/education-9.png" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                </div>
                              <figcaption class="pt-3 ps-3">
                                  <center><strong>Figure. 11 |</strong>
                                      <b>Our team members at the SC competition</b>
                                      <center><br></center>
                                  </center>
                              </figcaption>


                <h2 id="r3-2">2. Visiting the Synthetic Biology Art Residency</h2>
                <p>On the sidelines of the SC, we visited the Synthetic Biology Art Residency, a breathtaking exhibition that skilfully blends science and aesthetics. In the exhibit, the subtle ideas of synthetic biology and the creativity of artists collide with each other, resulting in masterpieces that are both technologically rich and artistically beautiful. From the colourful bioluminescent works cultivated by gene editing technology to the biodegradable and environmentally friendly sculptures created by microbial fermentation process, each piece of artwork is an in-depth exploration of the possibility of combining synthetic biology and art.</p>
                <p>This visit made us deeply appreciate that synthetic biology is not only a rigorous science, but also has the power to inspire unlimited imagination and creativity. When scientists and artists work together, they are able to look at the world from a new perspective and create works that transcend traditional boundaries. These works not only demonstrate the wide range of applications of synthetic biology in the fields of biotechnology, environmental protection, and healthcare, but also reveal the deep-seated connection and interaction between science and art. </p>
                <p>Through this exhibition, we are even more convinced that the combination of synthetic biology and art is an important force for social progress and innovation. We look forward to more such cross-border co-operation in the future, so that the beauty of science can be presented to the public in a more vivid and intuitive way, and inspire more people's love of science and desire for exploration."</p>

                              <div class="img_box">
                  <div class="img_item2">
                    <img src="https://static.igem.wiki/teams/5210/yuantu/017.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                  </div>
                  <div class="img_item2">
                    <img src="https://static.igem.wiki/teams/5210/yuantu/016.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                  </div>
                </div>
                              <figcaption class="pt-3 ps-3">
                                  <center><strong>Figure. 12 |</strong>
                                      <b>Visiting the Synthetic Biology Art Residency</b>
                                      <center><br></center>
                                  </center>
                              </figcaption>

              </div>
            </div>
          </div>


          <!-- 板块4 -->
          <div id="r4">
            <div class="row my-5">
              <div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
                <h1>Higher Education Outreach</h1>
                <p>In China, the field of synthetic biology is not widely publicised, resulting in few opportunities for teachers and students to learn about and practice this cutting-edge discipline. In order to break this status quo, we invited two outstanding students from Qingdao Medical University and Wenzhou Medical University to fully integrate into our project, aiming to inject fresh blood and unique perspectives into the project with their vigour and innovative thinking. </p>
                              <p>It is worth noting that although synthetic biology is not yet a widely recognised discipline in their respective home universities, these two students, with their enthusiasm and hard work, not only quickly integrated into the project, but also demonstrated their understanding of synthetic biology and their unique insights, which contributed to the progress of the project.</p>
                              <p>We firmly believe that through such cross-university cooperation and talent exchange, we can sow the seeds of synthetic biology knowledge in more universities, gradually broaden the scope of its influence, and raise the awareness of the importance of synthetic biology among teachers, students and the community. In the long run, this will help to promote the rapid development of synthetic biology, push forward scientific and technological innovation and social progress, and contribute to building a better future.</p>

                              <div class="img_box">
                  <div class="img_item2" style="height: 550px;">
                    <img src="https://static.igem.wiki/teams/5210/yuantu/021.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                  </div>
                  <div class="img_item2" style="height: 550px;">
                    <img src="https://static.igem.wiki/teams/5210/yuantu/018.jpg" alt="Gut-sweeper"
                    style="width:100%;cursor:pointer;">
                  </div>
                </div>
                              <figcaption class="pt-3 ps-3">
                                  <center><strong>Figure. 13 |</strong>
                                      <b>Our two new team members</b>
                                      <center><br></center>
                                  </center>
                              </figcaption>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

{% endblock %}
