{% extends "layout.html" %}

{% block title %}Entrepreneurship{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}



<!-- Page Content -->



<div class="inner-banner inner-bg3 header-mask"
	style="background: url(https://static.igem.wiki/teams/5210/photo/entrepreneurship.jpg) no-repeat center 0% fixed;width: 100%;background-size: cover;height: 94vh;">
	<div class="container">
		<div class="inner-title">
			<h3>Entrepreneurship</h3>
		</div>
		<!----scroll icon------->
		<div class="wrapper">
			<div class="scroll-hint">
				<p style="text-indent: unset;">Scroll To Explore</p>
				<div class="icon-scroll">
				</div>
			</div>
		</div>
	</div>
</div>





<!-- Page Content  请大家编辑以下部分 -->

<div class="container relative" style="max-width: 1300px">

	<!-------这个是膜态框的内容，注意这个一定要放在boxcontainer的外面，不然会出bug-------->

	<!--------模态图片 这个是通用的，所有图片共用这一个div-------->
	<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
		<br>
		<div class="w3-modal-content w3-animate-zoom">
			<img id="img01" style="width:100%">
		</div>
	</div>





	<div class="boxcontainer reveal-on-scroll" style="margin-top: 2.5em;width: 100%;">
		<h1>Overview</h1>
		<p>This year, NMU-CHINA used biosynthetic methods to create LuminAid, an innovative light-emitting bacterium. We
			plan to incorporate it into our spacesuits to provide a precise positioning solution for astronauts in deep
			space exploration. At the same time, it also shows great potential for applications on the planet. We can
			terrasify it and equip it with a life jacket to accurately locate the location of the person who has fallen
			into the water, which greatly improves the efficiency and accuracy of sea rescue.</p>
		<p>In order to translate this innovative idea into tangible results for the benefit of humanity and successfully
			apply it to the field of space exploration and maritime safety, our team has conducted in-depth research on
			the demand gap of potential customers and conducted comprehensive and detailed market insights over the past
			few months, mainly in the field of life jackets. Based on this, we analyzed and planned the functional
			characteristics of LuminAid's products, the expertise of our team, and the path to future commercialization.
			In order to achieve the realization from the lab to the market, our team has worked tirelessly on the
			business strategy to ensure that LuminAid is not only a theoretical innovation, but also a social force that
			solves practical problems and creates value.</p>
	</div>


	<hr
		style="width: 100%;height: 8px;border: 4px solid #ffede4;border-radius: 10px;margin-top: 2em;opacity: 1 !important;box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5) !important;margin-left: 0;">

	<div>
		<nav id="sidenav-wrapper" class="col-3 d-flex" style="height: 94%;">


			<ul class="mcd-menu" style="height: 420px;">
				<li
					style="border-top-left-radius: 7px;border-top-right-radius: 7px; box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
					<a href="#m1" class="sidenav-link nav-link">
						<strong>Client</strong>
						<small>Hit the nail on the head</small>
					</a>
					<ul style="z-index: 100000 !important;list-style: none;">
						<li><a href="#o1">1.Background</a></li>
						<li><a href="#o2">2.Pain point</a></li>
						<li><a href="#o3">3.Opportunity</a></li>
						<li><a href="#o4">4.Target Customer</a></li>
						<li><a href="#o5">5.Stakeholder</a></li>
						<li><a href="#o6">6.Product users</a></li>
					</ul>
				</li>
				<li style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
					<a href="#m2" class="sidenav-link nav-link">
						<strong>Products</strong>
						<small>Compete with merit</small>
					</a>
					<ul style="z-index: 100000 !important;list-style: none;">
						<li><a href="#t1">Product description</a></li>
						<li><a href="#t2">Competition</a></li>
						<li><a href="#t3">Market analysis</a></li>
						<li><a href="#t4">Cost analysis</a></li>
						<li><a href="#t5">Intellectual property</a></li>
					</ul>
				</li>

				<li style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
					<a href="#m3" class="sidenav-link nav-link">
						<strong>Firm</strong>
						<small>Achieve entrepreneurial goals</small>
					</a>
					<ul style="z-index: 100000 !important;list-style: none;">
						<li><a href="#s1">Mission&Vision</a></li>
						<li><a href="#s2">Team strength</a></li>
						<li><a href="#s3">Financial analysis</a></li>
						<li><a href="#s4">Business diagnosis</a></li>
						<li><a href="#s5">SWOT analysis</a></li>
					</ul>
				</li>

				<li
					style="border-bottom-left-radius: 7px;border-bottom-right-radius: 7px;box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
					<a href="#references1" class="sidenav-link nav-link" style="border-bottom: unset;">
						<i class="fa fa-book"></i>
						<strong>References</strong>
					
					</a>
				</li>
				<li style="background-color: unset;">
					<div class="tangdouren" style="text-align: center;margin-top: 10px;">
					  <a href="#" style="border-bottom: unset;"><img src="https://static.igem.wiki/teams/5210/logo-astronaut-2.png" alt="糖豆人" style="width: 242px;-webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));"></a>
					</div>
					<div class="brother2"><img src="https://static.igem.wiki/teams/5210/logo/logo-5.png" alt="" width="35%" style="position:absolute;top:0px;left:40%;-webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));"></div>
				</li>
			</ul>


		</nav>




		<div id="page-content-wrapper" class="col-lg-9 ms-auto">

			<div id="m1">
				<div class="row my-5">
					<div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
						<h1>Client</h1>
						<p><b>The background, pain points, opportunities, target customers, stakeholders, and
								product users are elaborated here.</b></p>


						<h2 id="o1">1.Background:</h2>
						<p>The total area of the Earth's oceans is about 360 million square kilometers, or about 71% of
							the Earth's surface area. With the development of the ocean and the increasing frequency of
							maritime activities, the number of people in distress at sea has also increased
							significantly. In the first two months of 2024, maritime search and rescue centers at all
							levels across the country organized and coordinated a total of 195 search and rescue
							operations, rescuing a total of 1,299 people in distress<sup>[1]</sup>. In addition, the survival rate
							of personnel in distress at sea is relatively low: personnel distress often occurs in the
							vast sea area, which makes the person who falls into the water easily affected by currents,
							waves and tides, and quickly moves away from the place of the incident, which greatly
							increases the difficulty of rescue positioning. At the same time, drifting at sea for long
							periods of time can lead to dehydration, starvation, and hypothermia, so it is important to
							find the victim quickly and accurately.</p>

						<h2 id="o2">2.Pain point</h2>
						<p>In recent years, there has been an alarm and positioning device for people overboard at sea
							based on inertial guidance, wireless communication, satellite positioning and navigation and
							other technologies and gradually equipped with large ships<sup>[2]</sup>, although compared with the
							early light strip, smoke, position indicator light, whistle and other devices have greatly
							improved the rescue efficiency, but there are still a series of <a href="https://2024.igem.wiki/nmu-china/entrepreneurship#bb2" style="color: #027efb;">shortcomings</a> such as high
							cost, poor stability, rough range, high power consumption, short standby time, poor
							portability (see product module for details). How to design a stable, low-energy,
							strong-signal, and accurate signal mode has become a difficult problem for people to tackle.
						</p>

						<h2 id="o3">3.Opportunity</h2>
						<p>The problems described in the pain points also cause us NMU-igemers to think. By chance, we
							saw the beautiful scenery of Dalian fluorescent sea on the Internet, and we had a flash of
							inspiration, whether we can equip this fluorescent to the life jacket, through the means of
							synthetic biology, so that it can have a strong light without external energy! That's why we
							designed our product – a life jacket with LuminAid.</p>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
								src="https://static.igem.wiki/teams/5210/commercialization-1.png" alt="Gut-sweeper"
								style="width:100%;cursor:pointer;"></div>
						<figcaption class="pt-3 ps-3 text-center">
							<strong>Figure. 1 | Background analysis</strong>
						</figcaption>

						<h2 id="o4">4.Target Customers</h2>
						<p>IGEM NMU designs life jackets with LuminAid for commercial shipping companies, fishing
							vessels, government and sea rescue agencies, recreational yacht and cruise ship passengers,
							and water sports enthusiasts, among others. These companies offer a wide range of ocean
							freight services across the globe, covering a wide range of sectors from container
							transportation to bulk cargo transportation. They are industry leaders who are willing to
							take responsibility for the safety of people at sea, thus investing in our products.
							Finally, they should agree to our security and responsibility format and adhere to it
							throughout the cooperation process. For example, COSCO Shipping, Hapag-Lloyd, United States
							Presidential Steamship (APL), Japan Yusen (NYK) and ships are the main customers we are
							considering in the future. Of course, in addition to these large companies, small companies
							are also potential users.</p>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
								src="https://static.igem.wiki/teams/5210/commercialization-2.png" alt="Gut-sweeper"
								style="width:30%;cursor:pointer;"></div>
						<figcaption class="pt-3 ps-3 text-center">
							<strong>Figure. 2 | Trademark of Cosco Shipping</strong>
						</figcaption><br>
						<br>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
								src="https://static.igem.wiki/teams/5210/commercialization-3.png" alt="Gut-sweeper"
								style="width:30%;cursor:pointer;"></div>
						<figcaption class="pt-3 ps-3 text-center">
							<strong>Figure. 3 | Trademark of Hapag-Lloyd</strong>
						</figcaption><br>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
								src="https://static.igem.wiki/teams/5210/commercialization-4.png" alt="Gut-sweeper"
								style="width:30%;cursor:pointer;"></div>
						<figcaption class="pt-3 ps-3 text-center">
							<strong>Figure. 4 | Trademark of APL</strong>
						</figcaption><br>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
								src="https://static.igem.wiki/teams/5210/commercialization-5.png" alt="Gut-sweeper"
								style="width:30%;cursor:pointer;"></div>
						<figcaption class="pt-3 ps-3 text-center">
							<strong>Figure. 5 | Trademark of NYK</strong>
						</figcaption><br>

						<h2 id="o5">5.Stakeholder:</h2>
						<p>We analyzed the stakeholders with fluorescently positioned life jackets from upstream,
							midstream, and downstream and made a flow chart.</p>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
								src="https://static.igem.wiki/teams/5210/commercial2-2.png" alt="Gut-sweeper"
								style="width:80%;cursor:pointer;"></div>
						<figcaption class="pt-3 ps-3 text-center">
							<strong>Figure. 6 | Stakeholder upstream, midstream and downstream analysis</strong>
						</figcaption><br>

						<h2 id="o6">6.Product users</h2>
						<p>The target users of our products are ship crew, marine workers, fishermen, ship passengers
							and crew. These are people who are closely related to our products, and they may have been
							killed or seen in distress. It can be said that once our products are qualified for use in
							large quantities, they will be the biggest beneficiaries. Based on our survey of <a href="https://2024.igem.wiki/nmu-china/human-practices#bb1" style="color: #027efb;">some of our target users</a> (see Human Practice for details), they also have a positive attitude towards
							our products and think that the product design is new and ingenious.</p>
						<p>At the same time, our products will also provide users <a href="https://2024.igem.wiki/nmu-china/product#cc1" style="color: #027efb;">with detailed and accurate ways to use.</a></p>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
								src="https://static.igem.wiki/teams/5210/commercialization-7.png" alt="Gut-sweeper"
								style="width:30%;cursor:pointer;"></div>
						<figcaption class="pt-3 ps-3 text-center">
							<strong>Figure. 7 | The correct steps to wear a life jacket analysis</strong>
						</figcaption>
					</div>
				</div>
			</div>


			<div id="m2">
				<div class="row my-5">
					<div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
						<h1>Products</h1>
						<p><b>Product, competition, market analysis, cost analysis, and intellectual property are
								elaborated here.</b></p>


						<h2 id="t1">1.Product description</h2>
						<h3>(1)Product name</h3>
						<p>Fluorescent Positioning Life Jacket.</p>
						<h3>(2)Product Introduction</h3>
						<p>This product is a combination of innovative technology and safety concept of fluorescent
							positioning life jacket, designed for marine operators and water sports enthusiasts. In the
							event of a shipwreck or emergency, the fluorescent positioning life jacket can quickly
							respond to environmental changes, and the built-in freeze-dried bacterial powder package
							emits blue fluorescence when activated by water, significantly improving the rescue
							positioning efficiency and winning valuable survival time for those in distress.</p>
						<h3>(3)Application Scenarios</h3>
						<p>Maritime navigation and operation: For fishermen, seafarers and offshore oil exploration
							workers who have been working at sea for a long time, intelligent fluorescent positioning
							life jackets can automatically send out fluorescent signals in emergency situations to help
							search and rescue teams quickly locate. </p>
						<p>Water sports and leisure: Suitable for surfing, windsurfing, kayaking and other water sports
							enthusiasts, in the event of accidental falling into the water or lost, the automatic
							fluorescence function can greatly improve the chance of being found.</p>
						<p>Shipwreck rescue: In shipwreck accidents such as ship sinking and personnel falling into the
							water, the fluorescent positioning function of the life jacket has become a key life guide,
							providing important support for survival and rescue.</p>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
								src="https://static.igem.wiki/teams/5210/application-scenarios.jpeg" alt="Gut-sweeper"
								style="width:100%;cursor:pointer;"></div>
								<figcaption class="pt-3 ps-3 text-center">
									<strong>Figure. 8 | Application scenarios</strong>
								</figcaption>

						<h3>(4)Project Structure</h3>
						<p>①Main material: made of high-strength, waterproof polyester fiber material. </p>
						<p>②Buoyancy system: built-in multiple high-density closed-cell foam materials to ensure that
							wearers can keep their heads above water even when tired or unconscious, in line with
							international safety standards.</p>
						<p>③Reflective strip, reflective whistle and fluorescent sign: the front and back of the life
							jacket and the side are equipped with high-brightness reflective strip, which can be found
							remotely at night or in low-light environments to improve safety. At the same time, the
							built-in safety whistle can emit a loud whistle in emergency time to attract the attention
							of the surrounding personnel and increase the chance of rescue.</p>
						<p>④Quick wear system: The one-pull design allows the wearer to quickly put on the life jacket in
							case of emergency. Plastic fasteners and adjustable nylon webbing ensure that the pocket
							does not misopen during operation.</p>
						<p>⑤Freeze-dried bacterial powder pack: The front storage bag of the life jacket is equipped with
							freeze-dried bacterial powder wrapped by folded nanofibers. (The nanofibers are based on
							polypropylene and made by electrostatic spinning technology) When the nanofiber is unrolled,
							the freeze-dried bacteria powder in it can be activated by water to produce fluorescence.
							Among them, the nanofibers are mainly prepared by electrostatic spinning technology, which
							has good biocompatibility and the characteristics of simulating natural extracellular
							matrix, and is suitable for algal bacteria system to maintain activity on the sea surface
							for a long time. </p>
						<p>⑥PFD quick release device: there is a traction rope connecting pull ring on the back, which is
							used to connect the quick release traction rope and escape quickly in distress.</p>

						<h3>(5)How to Use</h3>
						<p>Wear: Take the life jacket out of the storage bag and put it on quickly through the quick
							wear system.</p>
						<p>Unfold: After wearing, pull down the handle to unfold the filter membrane containing
							freeze-dried bacterial powder content in the storage bag. The freeze-dried bacterial powder
							is activated when it meets water and expresses the balloon protein at the same time, making
							the filter membrane most likely to unfold on the water surface and form a blue fluorescent
							circle. </p>
						<p>Wait for rescue: Use the buoyancy of the life jacket to stay afloat, while sending a distress
							signal and waiting for rescue.</p>

						<h3>(6)Product Features </h3>
						<p>①Advantages: </p>
						<p>Safety, Reliability, Practicality: high-strength waterproof material and buoyancy system to
							ensure the safety of the wearer.</p>
						<p>Quick effect: no need for the manual operation.It brightens when it meets water, thus
							improving rescue efficiency.</p>
						<p>Wide range of applications: Marine navigation and operation, water sports and leisure,
							maritime rescue.</p>
						<p>Double visibility: A combination of reflective strips, fluorescent markers and automatic
							fluorescence for increased visibility 24/7.</p>
						<p>②Disadvantages: </p>
						<p>Higher cost.</p>

						<h2 id="t2">2.Competition</h2>
						<h3>(1)Warning device:</h3>
						<p id="bb2">At present, the alarm and positioning devices for people overboard at sea are mainly divided
							into the following four categories:①alarm and positioning devices based on radio
							measurements;②Alarm positioning device based on wireless communication;③Alarm positioning device based on global positioning and wireless communication;④Alarm positioning device based on Beidou navigation system<sup>[2]</sup>.</p>
							<!-- <div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
								src="https://static.igem.wiki/teams/5210/commercialization-16.png" alt="Gut-sweeper"
								style="width:100%;cursor:pointer;"></div> -->
						<table class="model">
							<tbody>
								<tr style="font-size: 1.2rem;font-weight: bolder;background-color: rgb(33, 115, 192);">
									<th>Targeting method</th>
									<th>Localizability</th>
									<th>shortcoming</th>
								</tr>
								<tr style="background: rgb(255, 255, 255)">
									<td>Alarm positioning device based on radio measurement</td>
									<td>
										The effective distance is <4 n mile, and the positioning accuracy is not high, and the error is hundreds of meters
									</td>
									<td>The current technology requires user memory and comprehensive application of a large number of measurement data in the process of use, which has high requirements for the user himself. It causes the shortcomings of inconvenient equipment use, long training time, high judgment error rate, and long positioning time.</td>
								</tr>

								<td style="background: rgb(219,227,244)">Even more than wireless communication</td>
								<td style="background: rgb(219,227,244)">The effective distance is from a few nautical miles to more than a dozen nautical miles</td>
								<td style="background: rgb(219,227,244)">The data transfer rate is low, the power consumption is high, and the cost is relatively high</td>

								<tr style="background: rgb(255, 255, 255)">
									<td>Alarm positioning device based on global positioning and wireless communication</td>
									<td>The effective distance is related to the wireless communication mode, which is within a few hundred meters to more than ten nautical miles. The positioning accuracy is very high, and the error is within tens of meters</td>
									<td>Temperature has a significant impact on LoRa communication performance. Studies have shown that elevated temperatures can significantly degrade the performance of LoRa links and may even lead to a near-failure of communications</td>
								</tr>

								<tr style="background: rgb(219,227,244)">
									<td>Alarm positioning device based on Beidou navigation system</td>
									<td>The positioning range is limited by the satellite coverage area, and the positioning accuracy is very high, and the error is within tens of meters</td>
									<td>In a highly dynamic environment, the Beidou system may be subject to signal interference in the face of severe weather conditions such as strong winds, heavy rains, and heavy snow. In the middle and high latitudes, due to the small number of Beidou visible satellites and poor satellite distribution, the positioning accuracy is poor or cannot be located</td>
								</tr>

								<tr style="background: rgb(255, 255, 255)">
									<td>A flashlight in a regular life jacket</td>
									<td>Targeting is limited</td>
									<td>The light range is small and the battery life is short</td>
								</tr>

								<tr style="background: rgb(219,227,244)">
									<td>A life guard equipped in a regular life jacket</td>
									<td>Targeting is extremely limited</td>
									<td>The sound is small, and it consumes a lot of physical strength of the victims</td>
								</tr>

								<tr style="background: rgb(255, 255, 255);">
									<td>LuminAid</td>
									<td>The range is large, the visibility is high, there is no need for external energy supply, self-support, not affected by external factors, and the person in distress is accurately located</td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<figcaption class="pt-3 ps-3 text-center">
							<strong>Table. 1 | Comparison of various alarm methods</strong>
						</figcaption>
						<p>There are many challenges in the technical development and application popularization of
							marine alarm positioning devices, and our products can better complement these alarm
							positioning devices:</p>
						<p>①The engineering bacteria are autotrophic, do not need to be artificially provided with
							energy from the outside, and last longer. And only a small packet of freeze-dried powder and
							life jackets can be carried, which is miniaturized and convenient. But at the same time, the
							range of light is large enough and the brightness is bright enough to allow rescuers to find
							the victims in time.</p>
						<p>②The existing radiocommunication technology and the Global Navigation Satellite System
							(GNSS) are susceptible to interference and tampering, such as interference from complex
							maritime environments or interference from satellite distribution, while our engineering
							bacteria will not be affected by external factors. It surrounds the person who fell into the
							water and accurately locates the specific person who fell into the water, and is not limited
							by the communication location.</p>
						<p>③Even if the various alarm positioning devices are accurate, it is difficult to accurately
							locate the individual, and can only locate a rough position, while our engineering bacteria
							can accurately locate the encountered personnel.</p>
						<p>Overall, our engineered bacteria can be applied together with other marine rescue equipment
							to complement each other. Other marine alarm positioning technologies can achieve a rough
							range of positioning, while our engineering bacteria can accurately locate the specific
							person who has fallen into the water, which is also the pain point of our product directly
							hitting the user, and it is the unique selling point of the product.</p>


						<h3>(2)Life jacket</h3>
						<p>About the competing products of life jackets: There are many manufacturers of life jackets,
							including Xingtai, Jiangbo, INTEX, Aerospace Lifesaving Equipment, Huayan Hwayan and so on
							in China[3]. Here are a few examples.</p>

						<p>①Name: Xingtai (Wuxi Xingtai Marine Equipment Co., Ltd.)</p>
						<div style="display: flex;align-items: center;">
							<p>Trademark:</p>
							<img src="https://static.igem.wiki/teams/5210/commercialization-11.png" style="margin-left: 10px;width:70px;">
						</div>
						<p>Registration number: 5438934</p>
						<p>Official website: <a href="https://www.dtjhsb.com/">https://www.dtjhsb.com/</a></p>

						<p>②Name: JIANGBO (Dongtai Jianghai Lifesaving Fire Equipment Co.,
							Ltd.)</p>
						<div style="display: flex;align-items: center;">
							<p>Trademark:</p>
							<img src="https://static.igem.wiki/teams/5210/commercialization-12.png" style="margin-left: 10px;width:100px;">
						</div>
						<p>Registration number: 5438934</p>
						<p>Official website: <a href=" https://www.dtjhsb.com/"> https://www.dtjhsb.com/</a></p>

						<p>These companies have been established for a long time and are more experienced in making life
							jackets. However, the life jackets they sell only meet international standards and do not
							make further innovations. Our products are a combination of the above two competitive
							products, which not only meet the standards of life jackets but also alarm devices, which is
							the pain point of our products directly to users, and is also a unique selling point, which
							is the foundation for us to have confidence in the highly competitive market.</p>


						<h2 id="t3">3.Market analysis</h2>
						<p>In recent years, although the overall trend of marine accidents around the world has slowed
							down, the number remains high<sup>[4]</sup>. About 200,000 people die each year as a result of
							shipwrecks, of which 50,000 drown directly after a shipwreck, and another 50,000 die on
							life-saving equipment in non-extreme conditions<sup>[5]</sup>. This data reveals the importance of
							timely rescue of those killed, as well as the potential market for our products. According
							to statistics, the market size of the life jacket industry is showing a growing trend, and
							it is estimated that by 2025, the global market size will reach 8 billion US dollars<sup>[6]</sup>. In
							recent years, thanks to the promotion of downstream demand, China's life jacket market has
							developed rapidly, and the industry is currently in a period of steady development. In the
							future, it is expected that with the development of boats, airplanes and other means of
							transportation, as well as rafting, fishing, and water sports, there is still room for
							growth in the market demand for life jackets in China<sup>[7]</sup>. In addition, there are no
							competitors or sales of the same products in the Chinese market, our future market size is
							relatively large, and the market revenue is relatively good.</p>


						<h2 id="t4">4.Cost analysis</h2>
						<h3>(1)The cost of raw materials can be divided into three parts: life jackets, filter
							membranes, and lyophilized powder.</h3>
						<p>①Life jackets: Different types of life jackets, such as marine life jackets and offshore life jackets,
							differ in performance. This difference in performance can lead to different costs, as
							manufacturers need to produce different specifications for different application needs. For
							example, life jackets used on large fishing vessels or international voyages may require
							higher safety features and more complex manufacturing processes, increasing
							costs<sup>[8]</sup>.</p>


								<table class="model item-table">
									<tbody>
										<tr style="background: rgb(33, 115, 192)">
											<td>Life jacket form requirements</td>
											<th>Work life jackets《JT/T107-1991》</th>
											<th>Work life jackets*</th>
											<th>life jackets《GB4303-2008》</th>
											<th>life jackets《MSC resolution》</th>
											<th>life jackets《ISO 12402-4》</th>
											<th>life jackets(CCS for inland waterway boats)</th>
										</tr>
										<tr style="background: rgb(255, 255, 255)">
											<td>Suitable for water</td>
											<th>China's inland rivers and seas</th>
											<th>China's inland rivers and seas</th>
											<th>Unlimited Navigation Zone</th>
											<th>Unlimited Navigation Zone</th>
											<th>Sheltered waters</th>
											<th>China's inland rivers</th>
										</tr>
										<tr style="background: rgb(219,227,244)">
											<td>Use</td>
											<th>For crew work</th>
											<th>For crew work</th>
											<th>Crew lifesaving</th>
											<th>Crew lifesaving</th>
											<th>Crew lifesaving</th>
											<th>Crew lifesaving</th>
										</tr>
										<tr style="background: rgb(255, 255, 255)">
											<td>Buoyancy and loss of buoyancy</td>
											<th>Buoyancy ≥ 73.5 N</th>
											<th>Normal, buoyancy ≥ 74 N	Warm, buoyancy ≥ 84 N	</th>
											<th>Buoyancy loss≤5%</th>
											<th>Buoyancy loss≤5%</th>
											<th>Buoyancy > 100N,Buoyancy loss≤5%，Flip time: 10s, net height > 80mm</th>
											<th>Buoyancy > 100N,Buoyancy loss≤5%，Flip time: 5s, net height > 80mm</th>
										</tr>
										<tr style="background: rgb(219,227,244)">
											<td>Water immersion performance</td>
											<th>Just keep it upright or leaning back</th>
											<th>Just keep it upright or leaning back</th>
											<th>Each index is compared with RTD (standard fitting) to judge</th>
											<th>Each index is compared with RTD (standard fitting) to judge</th>
											<th>The plane angle shall not be less than 30°, and the average > 40°. The trunk angle must not be the trunk angle. Below 20°, the average > 30°</th>
											<th>The plane angle shall not be less than 30°, and the average > 40°. The trunk angle must not be the trunk angle. Below 20°, the average > 30°</th>
										</tr>
									</tbody>
								</table>
								<figcaption class="pt-3 ps-3 text-left">
									Note: * refers to the revised version of the work life jacket "JT/T107-1991", which is expected to be released and implemented in 2014.
								</figcaption>
								<figcaption class="pt-3 ps-3 text-center">
									<strong>Table. 2 | Comparison and analysis on the main performance of the relevant<sup>[8]</sup></strong>
								</figcaption>
                                <br>

						<p>Here is a rough example: after our investigation, the life jacket made of 420D twill oxford
							cloth is about 30.5 yuan for children of 30-80 pounds, and about 33.5 yuan for adults of
							90-170 pounds.his kind of life jacket has flood control, boating, fishing, rafting,
							rescue and other uses, and is suitable for a variety of scenarios.</p>
						<p>②Filter membrane: For the filter membrane, we use electrospinning technology and nanofibers prepared from
							polypropylene. This material is about 8025 per square meter, and the fluorescence plane
							is about 15 square meters, so each piece needs to filter 15×2×8025=240750 yuan. Although the
							current price is relatively expensive, we believe that through the continuous development of
							science and technology, the price of the filter membrane may decrease in the future.</p>
						<p>③Freeze-dried powder: Mass-produced freeze-dried powder is relatively cheap, about RMB 15 per gram. Because we have
							a good fluorescence effect and high brightness in the experiment, it is enough to put 1 gram
							of lyophilized powder in the filter membrane of each life jacket. The cost of lyophilized
							powder per product is 1×15=15 yuan.</p>
						<h3>(2)Shipping Costs:</h3>
						<p>We can take advantage of China's developed express delivery industry to deliver products to
							their destinations. Taking the most common postal express as an example, the price of
							ordinary parcels in China is between 5-12 yuan<sup>[9]</sup>, and the lower shipping cost can deliver
							the product to the customer in good condition.</p>


						<h2 id="t5">5.Intellectual property</h2>
						<p>In order to protect our ideas and technologies and gain a competitive advantage in the
							market, our team will adopt the following intellectual property strategies: first, file
							patent applications to protect our innovative products and technologies, and use patents as
							bargaining chips in business negotiations; secondly, to design trademarks to enhance brand
							recognition and consumer trust, and help market expansion; Finally, establish a copyright
							protection mechanism to prevent infringement and ensure that our legitimate rights and
							interests are safeguarded.</p>

					</div>
				</div>
			</div>


			<div id="m3">
				<div class="row my-5">
					<div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
						<h1>Firm</h1>
						<p><b>Mission and vision, team strength, financial analysis, and business analysis are elaborated
							here</b></p>

						<h2 id="s1">1.Mission & Vision</h2>
						<p>Our team conducted a series of brainstorming to design LuminAid, and in order to truly apply
							the idea to life jackets, parachutes, spacesuits, etc., we are committed to applying it to
							life jackets, parachutes, spacesuits, etc., through innovative and excellent products, to
							ensure the safety of every marine activity and space operator. We aspire to build a widely
							recognized and trusted brand image that will be the first choice for consumers, businesses
							and governments when choosing life jackets, parachutes, and spacesuits.</p>


						<h2 id="s2">2.Team strength</h2>
						<p>The NMU-CHINA team consists of 18 people with great ambition and determination. Everyone has
							their own areas of expertise, including synthetic biology, modeling, entrepreneurship, human
							practice, design, etc., and they are dedicated to their own areas of responsibility. At the
							same time, the team actively communicated and brainstormed, which allowed us to turn our
							initial ideas into reality. We are a strong team with team members doing their part, going
							deep into all aspects and summarizing feedback, which plays a deterministic role in the
							effective decision-making and business process of our team's entrepreneurship. At the same
							time, we will continue to work hard and forge ahead! What's more, the team has strong
							resources, we have received guidance and advice from the teachers of the Department of
							Biophysics at NMU, as well as strong support from NMU and a series of suggestions from
							stakeholders from many human practices. Overall, the whole team has the necessary
							capabilities and external support to start a business, and is constantly working hard to
							optimize itself, which is a trustworthy partner!</p>


						<h2 id="s3">3.Financial analysis</h2>
						<p>In order to execute our business plan, a financial plan and a projection of funds are
							developed here.</p>
						<h3>(1)Source of funding:</h3>
						<p>①Early stage: In the initial stage, we will seek academic and scientific research funding
							to focus on developing the core technology of the product to ensure its unique value. We
							plan to work with universities and startups to secure early-stage funding and build
							long-term partnerships with suppliers and sponsors to reduce costs and access the necessary
							resources. </p>
						<p>②Medium-term: At this stage, we have completed the preliminary production of the product.
							We will participate in startup competitions to attract investors and showcase product
							features and business potential. </p>
						<p>③Late stage: In the later stage, we will show the commercial value of the product and
							attract more investors. We develop a financing plan, clarify the use of the funds and
							expected returns, and promote the business through social media, industry events, and
							startup networking sessions. The expertise of our team and the unique selling point of our
							products are key to attracting investment. </p>
						<h3>(2)Allocation of Funds:</h3>
						<p>First of all, we should come up with the necessary funds to apply to our company's various
							costs (such as product costs, human resource costs, etc.) and various production equipment
							and maintenance.</p>
						<p>Remaining funds:</p>
						<p>①50% is used for further research and development of product: Once the product is on the market, we will use market feedback to continuously optimize and
							upgrade it to ensure that the product remains competitive and market value. The funds will
							be used for market research and user feedback collection to launch an improved new
							generation of products.</p>
						<p>②30% goes to marketing: In order to attract investment and users, we will invest in marketing strategies such as
							advertising, social media and content marketing to increase brand awareness and expand the
							Chinese market. At the same time, stimulate purchases through promotions such as discounts,
							gift giveaways, and prize sales, as well as provide personalized service and one-on-one
							marketing to meet the specific needs of customers.</p>
						<p>③20% for business development: The funds will be used to recruit high-calibre team members, including R&D, sales, marketing,
							and management personnel, as well as to hire product consulting experts to communicate with
							competitors for inspiration for product improvements.</p>


						<h2 id="s4">4.Business diagnosis</h2>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
								src="https://static.igem.wiki/teams/5210/yuantu/007.jpg" alt="Gut-sweeper"
								style="width:100%;cursor:pointer;"></div>
						<figcaption class="pt-3 ps-3 text-center">
								<strong>Table. 3 | Business analytics</strong>
						</figcaption>

						<h2 id="s5">5.SWOT analysis</h2>
						<p>So far, our business plan is still in the preliminary stages of planning and implementation.
							Regarding the resources, risks, positive and negative impacts of future development, etc.,
							we have done the following SWOT analysis:</p>
						<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
								src="https://static.igem.wiki/teams/5210/commercialization-15.png" alt="Gut-sweeper"
								style="width:100%;cursor:pointer;"></div>
								<figcaption class="pt-3 ps-3 text-center">
									<strong>Figure. 9 | SWOT analysis</strong>
							</figcaption>
					</div>
				</div>
			</div>


			<!------------------------以下这里是references-------------------------->
			<div id="references1" style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
				<div class="row my-5" style="cursor: pointer">
					<button class="btn d-flex justify-content-between accordion-general w-100" type="button"
						data-bs-toggle="collapse" data-bs-target="#references-d2" aria-expanded="false"
						aria-controls="references-d2" onclick="myFunction(this)">
						<h1 class="accordion-general-label">References</h1>
						<div>
							<div class="container">
								<div class="bar1"></div>
								<div class="bar2"></div>
								<div class="bar3"></div>
							</div>
						</div>
					</button>
					<div class="collapse px-0" id="references-d2" style="margin-top: -10px;">
						<div class="card card-body accordion-general-content px-5">
							<ol>
								<li>National Maritime Search and Rescue Situation in January 2024 - Statistics - China Maritime Search and Rescue Center (mot.gov.cn)</li>
								<li>LIU Yong, QI Shubo, YU Xicheng, et al. Development status of alarm and positioning device for people overboard at sea[J]. Medical and Health Equipment,2020,41(11):68-73. DOI:10.19745/j.1003-8868.2020254.</li>
								<li>2024 Top 10 Life Jacket Brands Ranking_Top 10 Life Jacket Brands-China Brand Network (chinapp.com)</li>
								<li>GUO Qishun. Analysis of the current situation and causes of marine accidents in the world[J]. China Ship Survey,2000(3):43-45.] DOI:10.3969/j.issn.1009-2005.2000.03.022.</li>
								<li>《COMPARISON OF EMERGENCY SITUATIONS DURING SHIPS’ NAVIGATION UNDER EXTREME
									CONDITIONS》</li>
								<li>2023 Life Jacket Industry Market Research Report - Baidu Library (baidu.com)</li>
								<li>China Life Jacket Market Development Status Research and Investment Prospect Forecast Report (2022-2029)_China_Life Jacket_Investment (sohu.com)</li>
								<li>HE Yaping,WANG Yiqing. Research and Suggestions on the Legal Requirements for Life Jackets for Fishing Vessels in China[J]. Fishery Modernization,2014(5):69-73.] DOI:10.3969/j.issn.1007-9580.2014.05.015.</li>

								<li>2023 Express Fee Price List (2023 List of Major Express Companies in China)-Baiyun (by56.com)</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div><!--这个是整个container的/div-->
{% endblock %}