{% extends "layout.html" %}
  
{% block title %}Product{% endblock %}
{% block lead %}Product{% endblock %}

{% block page_content %}

	<!-- Page Content -->
	<div class="inner-banner inner-bg3 header-mask"
		style="background: url(https://static.igem.wiki/teams/5210/photo/product.png) no-repeat center 65% fixed;width: 100%;background-size: cover;height: 94vh;">
		<div class="container">
			<div class="inner-title">
				<h3>Product</h3>
			</div>
			<!----scroll icon------->
			<div class="wrapper">
				<div class="scroll-hint">
					<p style="text-indent: unset;">Scroll To Explore</p>
					<div class="icon-scroll">
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Page Content  请大家编辑以下部分 -->
	<div class="container relative" style="max-width: 1300px">

		<div class="boxcontainer reveal-on-scroll" style="margin-top: 2.5em;width: 100%;">
			<h1>Overview</h1>
			<p>In a previous presentation, our team has succeeded in creating an algae-bacteria symbiosis that can glow sustainably. With its blue fluorescence, the system can help search and rescue teams quickly locate people in distress at night. After brainstorming by our team, we finally decided to make the algal bacteria system into freeze-dried bacteria powder--which can be used in life jackets, parachutes, spacesuits, space capsule biomarkers and even more scenarios.</p>
		</div>

		<div>
			<nav id="sidenav-wrapper" class="col-3 d-flex" style="height: 98%;">


				<ul class="mcd-menu" style="height: 420px;">
					<li style="border-top-left-radius: 7px;
						border-top-right-radius: 7px; box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
						<a href="#project" class="sidenav-link nav-link">
							<strong>Fluorescent Positioning Life Jacket</strong>
							<small></small>
						</a>
					</li>
					<li style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
						<a href="#inspiration" class="sidenav-link nav-link">
							<strong>Biofluorescent Positioning Parachute</strong>
						</a>
					</li>
					<li style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
						<a href="#goal" class="sidenav-link nav-link">
							<strong>Ecological Rescue Intelligent Space Suit</strong>
						</a>
					</li>
					<li style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
						<a href="#goal2" class="sidenav-link nav-link">
							<strong>Luminous labeling of the space capsule</strong>
						</a>
					</li>

					<li style="border-bottom-left-radius: 7px;
						border-bottom-right-radius: 7px;box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
						<a href="#references1" class="sidenav-link nav-link" style="border-bottom: unset;">
							<i class="fa fa-book"></i>
							<strong>References</strong>
						
						</a>
					</li>
					<li style="background-color: unset;">
						<div class="tangdouren" style="text-align: center;margin-top: 10px;">
						  <a href="#" style="border-bottom: unset;"><img src="https://static.igem.wiki/teams/5210/logo-astronaut-2.png" alt="糖豆人" style="width: 242px;-webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));"></a>
						</div>
						<div class="brother2"><img src="https://static.igem.wiki/teams/5210/logo/logo-5.png" alt="" width="35%" style="position:absolute;top:0px;left:40%;-webkit-filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.5));filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));"></div>
					</li>
				</ul>
			</nav>

			<div id="page-content-wrapper" class="col-lg-9 ms-auto">

				<div id="project">
					<div class="row my-5">
						<div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
							<h1>Fluorescent Positioning Life Jacket</h1>
							<h2 class="blod">1.Product Introduction</h2>
							<p>This product is a combination of innovative technology and safety concept of fluorescent
								positioning life jacket, designed for Marine operators and water sports enthusiasts. In
								the event of a shipwreck or emergency, the fluorescent positioning life jacket can
								quickly respond to environmental changes, and the built-in freeze-dried bacterial powder
								package emits blue fluorescence when activated by water, significantly improving the
								rescue positioning efficiency and winning valuable survival time for those in distress.
							</p>
							<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
									src="https://static.igem.wiki/teams/5210/product-1.png" alt="Gut-sweeper"
									style="width:100%;cursor:pointer;">
							</div>

							<h2 class="blod">2.Application Scenarios</h2>
							<p>(1)Maritime navigation and operation: For fishermen, seafarers and offshore oil
								exploration workers who have been working at sea for a long time, intelligent
								fluorescent positioning life jackets can automatically send out fluorescent signals in
								emergency situations to help search and rescue teams quickly locate. </p>
							<p>(2)Water sports and leisure: Suitable for surfing, windsurfing, kayaking and other water
								sports enthusiasts, in the event of accidental falling into the water or lost, the
								automatic fluorescence function can greatly improve the chance of being found.</p>
							<p>(3)Shipwreck rescue: In shipwreck accidents such as ship sinking and personnel falling
								into the water, the fluorescent positioning function of the life jacket has become a key
								life guide, providing important support for survival and rescue.</p>
							<div class="img_box">
								<div class="img_item">
									<img src="https://static.igem.wiki/teams/5210/product-13.png" alt="" srcset="">
									<p>Shipwreck</p>
								</div>
								<div class="img_item">
									<img src="https://static.igem.wiki/teams/5210/product-12.png" alt="" srcset="">
									<p>Water sports</p>
								</div>
								<div class="img_item">
									<img src="https://static.igem.wiki/teams/5210/product-14.png" alt="" srcset="">
									<p>Voyage</p>
								</div>
							</div>


							<h2>3.Project Structure</h2>
							<p>(1)Main material: made of high-strength, waterproof polyester fiber material. </p>
							<p>(2)Buoyancy system: Built-in multiple high-density closed-cell foam materials to ensure
								that wearers can keep their heads above water even when tired or unconscious, in line
								with international safety standards. </p>
							<p>(3)Reflective strip, reflective whistle and fluorescent sign: the front and back of the
								life jacket and the side are equipped with high-brightness reflective strip, which can
								be found remotely at night or in low-light environments to improve safety. At the same
								time, the built-in safety whistle can emit a loud whistle in emergency time to attract
								the attention of the surrounding personnel and increase the chance of rescue. </p>
							<p>(4)Quick wear system: The one-pull design allows the wearer to quickly put on the life
								jacket in case of emergency. Plastic fasteners and adjustable nylon webbing ensure that
								the pocket does not misopen during operation. </p>
							<p>(5)Freeze-dried bacterial powder pack: The front storage bag of the life jacket is
								equipped with freeze-dried bacterial powder wrapped by folded nanofibers. (The
								nanofibers are based on polypropylene and made by electrostatic spinning technology)
								When the nanofiber is unrolled, the freeze-dried bacteria powder in it can be activated
								by water to produce fluorescence. Among them, the nanofibers are mainly prepared by
								electrostatic spinning technology, which has good biocompatibility and the
								characteristics of simulating natural extracellular matrix, and is suitable for algal
								bacteria system to maintain activity on the sea surface for a long time. </p>
							<p>(6)PFD quick release device: there is a traction rope connecting pull ring on the back,
								which is used to connect the quick release traction rope and escape quickly in distress.
							</p>
							<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
									src="https://static.igem.wiki/teams/5210/product-2.png" alt="Gut-sweeper"
									style="width:100%;cursor:pointer;">
							</div>


							<h2>4.How to Use</h2>
							<p id="cc1">(1)Wear: Take the life jacket out of the storage bag and put it on quickly through the
								quick wear system. </p>
							<p>(2)Unfold: After wearing, pull down the handle to unfold the filter membrane containing
								freeze-dried bacterial powder content in the storage bag. The freeze-dried bacterial
								powder is activated when it meets water and expresses the balloon protein at the same
								time, making the filter membrane most likely to unfold on the water surface and form a
								blue fluorescent circle. </p>
							<p>(3)Wait for rescue: Use the buoyancy of the life jacket to stay afloat, while sending a
								distress signal and waiting for rescue.</p>


							<h2>5.Product Features </h2>
							<p>(1)Advantages:</p>
							<p>Safety, Reliability, Practicality: high-strength waterproof material and buoyancy system
								to ensure the safety of the wearer.</p>
							<p>No need for the manual operation.It brightens when it meets water,thus improvong rescue efficiency.</p>
							<p>Wide range of applications: Marine navigation and operation, water sports and leisure,
								maritime rescue. </p>
							<p>Double visibility: A combination of reflective strips, fluorescent markers and automatic
								fluorescence for increased visibility 24/7.</p>
							<p>(2)Disadvantages: Higher cost</p>
							<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
									src="https://static.igem.wiki/teams/5210/ad.png" alt="Gut-sweeper"
									style="width:120%;cursor:pointer;">
							</div>
						</div>
					</div>
				</div>



				<div id="inspiration">
					<div class="row my-5">
						<div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
							<h1>Biofluorescent Positioning Parachute</h1>
							<h2 class="blog">1.Product Introduction</h2>
							<p>This product is an innovative design of biofluorescent positioning parachute, parachute
								surface integrated with special biological coatings. The biological coating can activate
								and emit blue fluorescence after encountering water, providing accurate positioning for
								search and rescue operations, greatly improving rescue efficiency and success rate.</p>
							<h2 class="blog">2.Application Scenario</h2>
							<p>Maritime accident rescue: when the plane or helicopter is forced to land on the sea for
								some reason, passengers and crew can use this parachute to escape in an emergency. The
								fluorescent effect of the parachute surface can quickly attract the attention of
								search-and-rescue personnel and shorten the rescue time.</p>
							<h2 class="blog">3.Product Structure</h2>
							<p>(1)Parachute surface material: the use of high-strength, waterproof and breathable nylon
								material to ensure the stability and durability of the parachute in harsh sea
								conditions. The inner and outer layers of the parachute surface are evenly coated with
								biofluorescent paint. </p>
							<p>(2)Biofluorescent coating layer: Bioink composed of alginate brine gel combined with
								algal bacteria system, which can be attached to the parachute surface after 3D printing.
								The algal bacteria system is activated after encountering water, and can maintain high
								cell activity, emit bright and durable fluorescence, covering the entire parachute
								surface, and enhance visibility. </p>
							<p>(3)Paracord and release system: High strength, corrosion-resistant paracord with manual
								release system ensures fast and safe deployment in case of emergency.</p>
							<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
									src="https://static.igem.wiki/teams/5210/t.png" alt="Gut-sweeper"
									style="width:90%;cursor:pointer;">
							</div>

							<h2 class="blog">4.How to use</h2>
							<p>(1)Preparation stage: Check whether the components of the parachute are intact and
								confirm that the biofluorescent coating layer is not damaged.</p>
							<p>(2)Put on and connect: Put on the safety harness and make sure all fasteners are tight.
								Attach the parachute hook to the designated position on the safety harness. </p>
							<p>(3)Parachute opening operation: Automatic parachute opening system is triggered by manual
								pull ring. </p>
							<p>(4)After falling into the water: After the parachute comes into contact with seawater,
								the bioluminescent paint on the surface of the parachute is activated by water and emits
								fluorescence.</p>

							<h2 class="blog">5.Product Features</h2>
							<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
									src="https://static.igem.wiki/teams/5210/pa.png" alt="Gut-sweeper"
									style="width:110%;cursor:pointer;">
							</div>
						</div>
					</div>
				</div>


				<div id="goal">
					<div class="row my-5">
						<div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
							<h1>Ecological Rescue Intelligent Space Suit</h1>
							<h2 class="blog">1. Product Introduction</h2>
							<p>When exploring the unknown areas of deep space, the ecological rescue intelligent space
								suit provides unprecedented survival guarantee and emergency rescue capability for
								astronauts. The product innovably integrates the freeze-dried
								bacteria powder technology, in which the mixed bacteria system can not only
								automatically activate in emergency situations, send bright fluorescent signals,
								facilitate search and rescue, but also build a micro ecosystem, continue to provide
								astronauts with the oxygen and nutrients needed for life, greatly extending the survival
								time of astronauts, adding a new safety dimension to space exploration.</p>

							<h2 class="blog">2.Application Scenarios</h2>
							<p>(1)Deep space exploration mission: In the deep space area far from the Earth, where
								communication signals may be interrupted, if the astronauts are accidentally lost, the
								ecological rescue spacesuit will become the boat of life, providing emergency
								positioning and life support functions.</p>
							<p>(2)Planetary surface inspection: When working on the surface of a planet in extreme
								environments or unknown ecology, the ecosystem in the spacesuit can cope with unexpected
								situations, such as sandstorms and extreme climates, to ensure the safety of astronauts.
							</p>
							<p>(3)Long spacewalk: During long spacewalk missions, the ecological circulation system in
								the spacesuit can reduce dependence on external resources and improve mission autonomy
								and safety.</p>

							<h2 class="blog">3.Product Structure</h2>
							<p>Outer protection layer: The use of high-strength, radiation-resistant, wear-resistant
								composite materials to protect astronauts from cosmic radiation, micrometeorite impact
								and other threats.The exterior is separately coated with radiation protection layer.</p>
							<p>Middle layer insulation: effectively adjust the internal temperature of the suit to adapt
								to extreme temperature differences.</p>
							<p>Inner ecological layer:</p>
							<p>(1)Algae and bacteria chamber: built-in freeze-dried bacteria powder storage room, using
								intelligent activation mechanism, once external communication interruption is detected
								or astronauts' vital signs are abnormal, automatic water seepage will activate
								freeze-dried bacteria powder.
							<p>
							<p>(2)Photosynthetic zone: made of highly transparent materials to provide light for algae.
								In addition, the spacesuit's own chemiluminescent rods can also provide a source of
								light for the algal bacteria system, promoting photosynthesis to produce oxygen.</p>
							<p>(3)Fluorescent identification system: integrated around the algal and bacteria chamber,
								the fluorescent substances released after the activation of the bacteria powder are
								excited, sending out bright and durable fluorescent signals.</p>
							<p>(4)Life support system: Integrated oxygen circulation system, carbon dioxide absorption
								device and water recovery system, working together with algal bacteria system to
								maintain astronauts' life needs.</p>
							<p>(5)Intelligent control system: real-time monitoring of astronauts' physiological
								indicators, environmental parameters and system status, automatic adjustment of
								ecological cycle efficiency, and emergency communication and distress functions.</p>
							<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
									src="https://static.igem.wiki/teams/5210/product-6.png" alt="Gut-sweeper"
									style="width:100%;cursor:pointer;">
							</div>

							<h2 class="blog">4.How to Use</h2>
							<p>(1)Check before wearing: Ensure that all systems of the spacesuit are intact, especially
								the storage and activation mechanism of freeze-dried bacteria powder of the algal
								bacteria system is normal. </p>
							<p>(2)Startup system: The control panel will activate the suit's systems, including the eco--circulation system.</p>
							<p>(3)During the mission, the spacesuit will automatically monitor the environment and the
								status of the astronauts, and if there is a communication interruption or emergency, the
								spacesuit will automatically activate the fluorescent identification system and optimize
								the efficiency of the ecological cycle to extend the survival time.</p>

							<h2 class="blog">5.Product Features</h2>
							<p>(1)Advantages:</p>
							<p>It improves the survival ability of astronauts in extreme environments.</p>
							<p>Fluorescent identification system significantly enhances search and rescue efficiency.
							</p>
							<p>Micro-ecosystems realize resource recycling and reduce dependence on external supplies.
							</p>
							<p>(2)Disadvantages:</p>
							<p>The stability of the ecosystem needs to be verified in the long term.</p>
							<p>The fluorescence signal may be weakened by some cosmic rays.</p>
						</div>
					</div>
				</div>

				<div id="goal2">
					<div class="row my-5">
						<div class="col-lg-12 boxcontainer reveal-on-scroll" data-aos="fade-up">
							<h1>Luminous labeling of the space capsule</h1>
							<h2 class="blog">1.Project Introduction</h2>
							<p>Under extreme environmental conditions outside the space capsule, cyanobacteria through
								its unique physiological mechanism can use the thin solar energy for photosynthesis,
								while Vibrio Navibrio uses the oxygen and nutrients produced by it to emit blue
								fluorescence, which is fixed to the outer wall of the space capsule through nanofiber
								materials, and can be used as a biological identification system.</p>
							<div class="row mx-auto d-flex justify-content-center wi-lg-100"><img
									src="https://static.igem.wiki/teams/5210/product-7.png" alt="Gut-sweeper"
									style="width:50%;cursor:pointer;">
							</div>
							<p>In addition, our Luminaid algal bacteria system has many applications: polar research,
								mining, deep-sea exploration, marine waste labeling...</p>
							<div class="img_box">
								<div class="img_item2">
									<img src="https://static.igem.wiki/teams/5210/product-8.png" alt="" srcset="">
								</div>
								<div class="img_item2">
									<img src="https://static.igem.wiki/teams/5210/product-9.png" alt="" srcset="">
								</div>
								<div class="img_item2">
									<img src="https://static.igem.wiki/teams/5210/product-10.png" alt="" srcset="">
								</div>
								<div class="img_item2">
									<img src="https://static.igem.wiki/teams/5210/product-11.png" alt="" srcset="">
								</div>
							</div>
						</div>
					</div>
				</div>

				<!------------------------以下这里是references-------------------------->
				<div id="references1" style="box-shadow: 0 6px 7px -2px rgba(0,0,0,0.5);">
					<div class="row my-5" style="cursor: pointer">
						<button class="btn d-flex justify-content-between accordion-general w-100" type="button"
							data-bs-toggle="collapse" data-bs-target="#references-d" aria-expanded="false"
							aria-controls="references-d" onclick="myFunction(this)">
							<h1 class="accordion-general-label">References</h1>
							<div>
								<div class="container">
									<div class="bar1"></div>
									<div class="bar2"></div>
									<div class="bar3"></div>
								</div>
							</div>
						</button>
						<div class="collapse px-0" id="references-d" style="margin-top: -10px;">
							<div class="card card-body accordion-general-content px-5">
								<ol>
									<li>Hong Fei, Yuan Yuan, Zhou Hongdi & Pan Liping. 2011 A new species of the genus Pseudopalatina (Coleoptera, Staphylinidae, Staphylininae) from China. (2020). A qualitative study of symptom experience and coping styles in patients with chronic constipation. Chinese Rural Medicine (13), 65-66. doi:10.19542/j.cnki.1006-5180.004171.</li>
									<li>Nakanishi N, Tashiro K, Kuhara S, Hayashi T, Sugimoto N, Tobe T. Regulation of
										virulence by
										butyrate sensing in enterohaemorrhagic Escherichia coli. Microbiology (Reading).
										2009;155(Pt
										2):521-30. Epub 2009/02/10. doi: 10.1099/mic.0.023499-0. PubMed PMID: 19202100.
									</li>
									<li>Wang B, Kitney RI, Joly N, Buck M. Engineering modular and orthogonal genetic
										logic gates for
										robust digital-like synthetic biology. Nat Commun. 2011;2:508. Epub 2011/10/20.
										doi:
										10.1038/ncomms1516. PubMed PMID: 22009040; PubMed Central PMCID: PMCPMC3207208.
									</li>
									<li>Park S, Kang K, Lee SW, Ahn MJ, Bae JM, Back K. Production of serotonin by dual
										expression of
										tryptophan decarboxylase and tryptamine 5-hydroxylase in Escherichia coli. Appl
										Microbiol
										Biotechnol. 2011;89(5):1387-94. Epub 2010/11/17. doi: 10.1007/s00253-010-2994-4.
										PubMed PMID:
										21080162.</li>
									<li>Li B, Li M, Luo Y, Li R, Li W, Liu Z. Engineered 5-HT producing gut probiotic
										improves
										gastrointestinal motility and behavior disorder. Front Cell Infect Microbiol.
										2022;12:1013952. Epub
										2022/11/08. doi: 10.3389/fcimb.2022.1013952. PubMed PMID: 36339343; PubMed
										Central PMCID:
										PMCPMC9630942.</li>
									<li>Gardner TS, Cantor CR, Collins JJ. Construction of a genetic toggle switch in
										Escherichia coli.
										Nature. 2000;403(6767):339-42. Epub 2000/02/05. doi: 10.1038/35002131. PubMed
										PMID: 10659857.</li>
									<li>Wang X, Han JN, Zhang X, Ma YY, Lin Y, Wang H, et al. Reversible thermal
										regulation for
										bifunctional dynamic control of gene expression in Escherichia coli. Nat Commun.
										2021;12(1):1411.
										Epub 2021/03/05. doi: 10.1038/s41467-021-21654-x. PubMed PMID: 33658500; PubMed
										Central PMCID:
										PMCPMC7930084.</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
